[2016-08-11 19:14] pommedeterresautee opened #10 "Python3 - impossible to use unicode string in get_vector function"
[code]
It is impossible to ask for a vector with unicode spelled word because of the conversion in bytes set to ascii

[2016-08-11 21:41] pyk commented on #10
@pommedeterresautee ahh nice catch. Hotfix is in progress. thanks for the report!

[2016-08-12 00:39] pyk commented on #10
@pommedeterresautee fix is available at `v0.5.18` or #11 , need to setup the CI first (again) before merging

Now you can do like the following:

[code]

[2016-08-12 00:42] #10 closed

[2016-08-12 07:23] pommedeterresautee opened #14 "[Feature request] adding L2 norm of vectors"
Normalization of vector is very useful with word embedding.
In numpy (from Gensim), looks like that:
[code]

[2016-08-12 07:27] pommedeterresautee opened #15 "Add __getitem__() function"
`__getitem__()` would replace `get_vector()` with a nicer syntax
[code]

From python doc
https://docs.python.org/3/reference/datamodel.html#object.__getitem__

Called to implement evaluation of self[key]. For sequence types, the accepted keys should be integers and slice objects. Note that the special interpretation of negative indexes (if the class wishes to emulate a sequence type) is up to the

[2016-08-12 07:32] pyk commented on #14
Yes, that would be very useful 👍

Let's focus on the `supervised` model (the classifier) first and add all the enhancements after all the `fasttext(1)` functionality are covered

Thanks for the suggestion! 🙇

[2016-08-12 07:32] pommedeterresautee opened #16 "Add __contains__() function"
[code]

https://docs.python.org/3/reference/datamodel.html#object.__contains__

Called to implement membership test operators. Should return true if item is in self, false otherwise. For mapping objects, this should consider the keys of the mapping rather than the values or the key-item pairs.

[2016-08-12 07:33] pommedeterresautee commented on #14
I understand :-) Just posting here some ideas, so when you have time...

[2016-08-12 07:35] pyk commented on #14
@pommedeterresautee yup yup! 😄  feel free to send PR tho

[2016-08-12 07:41] pommedeterresautee commented on #14
I want!
But I can't compile :-(

[code]

[2016-08-12 07:48] pyk commented on #14
hmmmm strange. btw, what python version do you use? it should be working on python 2.6 or newer version (https://travis-ci.org/salestock/fastText.py/builds/151732066)

[2016-08-12 07:49] pommedeterresautee commented on #14
I deleted cause I just understood... Cython was not updated :-(

[2016-08-12 08:04] pommedeterresautee commented on #14
I have been naive... we can't easily access to the vectors word vectors to normalize them.

[2016-08-12 09:03] #15 closed

[2016-08-12 09:03] #16 closed

[2016-08-12 18:10] pyk opened #18 "Supervised model"
We need to create interface for the [text classification](https://github.com/facebookresearch/fastText#text-classification).

The draft API will looks like the following:

[code]

Initial plan for `fasttext.supervised` was we will be able to use file and Numpy array as an `input`.

[2016-08-13 05:14] pyk opened #19 "Add More Examples"
Our goal here is to make Facebook fastText library available for wider audiences.

I think more examples on how to use this package will be one of the best approach that we can do to achieve this goal. We can write a python version of [classification-example.sh](https://github.com/facebookresearch/fastText/blob/master/classification-example.sh), [classification-results.sh](https://github.com/faceb

[2016-08-14 14:53] pyk commented on #18
implemented in #21

[2016-08-14 14:53] #18 closed

[2016-08-16 09:14] lampts opened #24 "Add predict_proba for classifier"
It could be great if we can have this feature. I see in c++ code, there is a way to get the max values out of softmax function. Could you implement it or I can pull a request?

[2016-08-16 11:44] pyk commented on #24
@lampts feel free to send PR! 😄

[2016-08-17 16:27] naoko opened #26 "`bad_alloc` and exit code when attempt to load_model"
What version of Python are you using (python --version)?
Python 2.7.9

What operating system and processor architecture are you using?
Linux jessie 3.16.0-4-amd64
Architecture: x86_64

What did you do?
built model with fasttext CLI
[code]
this worked and I can run `test` and `predict`.
(I built model with CLI because attempt to use `model = fasttext.cbow('/vagrant/data/train.txt', '/tmp/model')` e

[2016-08-17 18:24] pommedeterresautee commented on #26
What is the size of your bin model?

[2016-08-17 20:52] naoko commented on #26
it is 793mb
[code]

[2016-08-17 21:19] pyk commented on #26
Hi Naoko,

The size of your model.bin is normal, and it should work as expected.

std::bad_alloc error is caused by the C++ extension fails to
allocate memory. This shouldn't problem if you have ~1GB free ram.

On Thursday, 18 August 2016, Naoko Reeves <notifications@github.com> wrote:

--
Bayu Aldi Yansyah,
Universitas Airlangga
https://github.com/pyk

[2016-08-17 21:29] naoko commented on #26
Hmm, I have more than 1GB of freem ram
[code]

any other data i can dump to investigate?

[2016-08-17 21:35] pyk commented on #26
Yup, can we access the `.txt` data that you use? I will try to re-produce it

I have tried with my own model (`text9.bin`):

[code]

And it works as expected

[2016-08-17 21:46] pyk commented on #26
Nevermind, I able reproduce your case using different data `dbpedia.train`

[code]

[code]

Hotfix is on progress

[2016-08-17 21:51] naoko commented on #26
thank you so much @pyk !

[2016-08-18 15:41] dschallis opened #28 "Compilation error on Mac OS X"
On Mac OS X (El Capitan), get an error when attempting to install using `pip`. This is using python 3.5, from within a Conda environment.

Installing with:

    (p3) $ pip install fasttext

Outputs the error:

[code]

[2016-08-18 18:05] pyk commented on #28
hi @dschallis,

The problem is the compiler can't find the C++ standart library `random` on your system. You may run `gcc --version` to make sure that your `gcc` is not outdated.

If you already have a newer version of `gcc` you can change the default compiler with the `CC` env:

[code]

[2016-08-19 08:26] dschallis commented on #28
Thanks, looks like the default C++ compiler is clang 7.3.0, which I'm assuming doesn't have that library. I'll compile using homebrew's gcc 6.x.

[2016-08-19 08:26] #28 closed

[2016-08-19 16:23] #26 closed

[2016-08-19 16:35] pyk commented on #26
@naoko This problem is caused by `FastTextModel::setMatrix` in `fasttext/interface.cc`.  You can see #29 for more details

Fixed on `v0.6.3`

You can get the newest version using the following command:

[code]

[2016-08-19 16:52] pyk opened #31 "Add interface for predicting K best labels"
This new functionality is introduced on https://github.com/facebookresearch/fastText/pull/19

This interface will be part of `v0.6`, We can use optional argument like this:

[code]

[2016-08-19 17:14] iamtrask commented on #31
+1 - i'd love to see this

[2016-08-19 19:34] chsasank opened #32 "Pip installation failed"
On my mac (10.11) with conda environment python3, I have tried installing using
[code]
which gives following error:

[code]

[2016-08-20 00:31] pyk commented on #32
@chsasank ah sorry! `fasttext/VERSION` are missing in the package file. This should be fixed now, please run:

[code]

[2016-08-20 00:34] #32 closed

[2016-08-20 22:19] naoko commented on #26
@pyk , thank you soooooo much!  I got the latest and now I can use it with no issue.

[2016-08-21 02:47] pyk commented on #26
@naoko yup yup :+1:

[2016-08-22 05:15] #19 closed

[2016-08-22 08:45] pyk opened #35 "Add recall to the classifier test results"
Currently at `v0.6` we use multilpe return values for the classifier test

[code]

The fastText [v1826a12](https://github.com/facebookresearch/fastText/tree/1826a12) add new test  result called Recall at one:

[code]

and `k` option as an argument:

[code]

Is not optimal to use three return values, So we need to return an instance of class that hold a value of precision at one, recall at one and

[2016-08-22 08:50] pyk opened #36 "Remove get_vector method from WordVectorModel class"
The `get_vector` model is replaced with `__getitem__` function. This allow us to get the vector of word using the following syntax:

[code]

Thanks to @pommedeterresautee

[2016-08-22 09:17] mccoya2 opened #37 "PIP install problem"
running python v2.7 (anaconda) on mac (10.11.6). Pip install fails with following error:

 In file included from fasttext/fasttext.cpp:310:
    fasttext/cpp/src/dictionary.h:16:10: fatal error: 'random' file not found
    #include <random>
             ^
    1 error generated.
    error: command 'gcc' failed with exit status 1

[2016-08-22 09:41] pyk commented on #37
Hi @mccoya2 !

Please take a look at issue #32 to solve this problem

[2016-08-22 10:18] #31 closed

[2016-08-22 10:24] pyk commented on #36
Implemented in #38

[2016-08-22 10:24] #36 closed

[2016-08-22 10:25] pyk commented on #35
implemented in #38

[2016-08-22 10:25] #35 closed

[2016-08-22 10:34] pyk opened #40 "Update examples"
Some of [the examples](https://github.com/salestock/fastText.py/blob/c1b5326d4f7f2f18ad5bc5aa58f8b9109b7b0256/examples/classification_example.py#L26) are still using `v0.6.4` API, We need to update the example for `v0.7`. Feel free to send PR!

[2016-08-22 12:14] mccoya2 commented on #28
I had this problem also on mac OS 10.11.6. Compiled gcc 6 and it worked fine (takes a while). I followed instructions outlined at https://solarianprogrammer.com/2016/05/10/compiling-gcc-6-mac-os-x/

[2016-08-22 12:15] mccoya2 commented on #37
Thanks pyk! Compiled gcc 6 and it worked fine (takes a while). I followed instructions outlined at https://solarianprogrammer.com/2016/05/10/compiling-gcc-6-mac-os-x/

[2016-08-22 12:16] #37 closed

[2016-08-22 14:25] elyase opened #42 "OSX conda compilation/import error"
In conda python 3.5, OSX El Capitan 10.11.14 I am getting:

[code]

[code]

[2016-08-22 14:26] elyase commented on #42
Solved it by adding `-mmacosx-version-min=10.9'` to `setup.py`, the final line looks like this:

[code]

[2016-08-22 16:31] pyk opened #44 "Return word vector as Numpy array"
Currently we return word vector as a list of float value:

[code]

We can use `Numpy.array` for easy computation in the future, no need to convert the vector again.

Feel free to send PR! 😄

[2016-08-22 16:47] MatthiasRMS opened #45 "Issue installing it with pip"
I tried running:

`pip install fasttext`

and got this error:

[code]

Any idea on how to fix this ?

[2016-08-22 16:50] pyk commented on #45
hi @MatthiasRMS

Please take a look at #28 to solve this problem

[2016-08-22 17:33] pyk commented on #40
resolved in #43

[2016-08-22 17:33] #40 closed

[2016-08-22 18:54] Peter-E-Lenz commented on #45
I'm having the same issue,
`CC=/usr/bin/gcc-5.4
pip install fasttext`
is resulting in the same error.

Curiously building a standalone instance of fasttext outside of pip does work with the same setup.

[2016-08-23 06:08] pyk commented on #45
@MatthiasRMS is the solution works for you?

@Peter-E-Lenz can you give us the output from stderr ?

[2016-08-23 06:28] pyk commented on #24
Related PR https://github.com/facebookresearch/fastText/pull/47/files

[2016-08-23 06:41] pyk commented on #42
Hi @elyase , thanks for the report!

[2016-08-23 06:41] #42 closed

[2016-08-23 14:13] Peter-E-Lenz commented on #45
`CC=/usr/bin/gcc-5.4

pip install fasttext 2>&1 >/dev/null | less`
results in

[2016-08-23 17:18] pyk commented on #45
@Peter-E-Lenz ahh, currently we don't upload the package in wheel distribution yet.

We will upload the wheel distribution ASAP

[2016-08-23 17:42] pyk opened #47 "Support Wheel distribution"
Some of [our](https://www.facebook.com/groups/1174547215919768/permalink/1202535489787607/?comment_id=1203701126337710&comment_tracking=%7B%22tn%22%3A%22R%22%7D) [users](https://github.com/salestock/fastText.py/issues/45#issuecomment-241744322) are using [wheel](https://packaging.python.org/distributing/#platform-wheels) distribution format instead of `egg` format.

Note that wheel is a platform-s

[2016-08-23 18:10] spate141 commented on #45
sudo port install gcc7
$ port select --list gcc
Available versions for gcc:
	mp-gcc7
	mp-llvm-gcc42
	none (active)
$ sudo port select --set gcc mp-gcc7
Password:
Selecting 'mp-gcc7' for 'gcc' succeeded. 'mp-gcc7' is now active.

pip install fasttext

[2016-08-24 08:00] flybirp commented on #45
same error encountered, tried all the above comments, yet nothing changed

[2016-08-24 08:18] pyk commented on #45
Hi @flybirp, can you give us the error output from your `pip install fasttext`?

Note that 📓  : currently we don't distribute the package in `wheel` format yet. So if you install the package in `wheel` format, it will error. Try to use the `egg` format

Related #47

[2016-08-24 08:21] MatthiasRMS commented on #45
@pyk  thanks for your answer, I'll follow the solution today and let you know if it works out

[2016-08-24 08:28] flybirp commented on #45
hi there:

Installing collected packages: fasttext
  Running setup.py install for fasttext ... error
    Complete output from command /Library/Frameworks/Python.framework/Versions/3.5/bin/python3.5 -u -c "import setuptools, tokenize;__file__='/private/var/folders/72/mzywkdcd73l_9pd98pdgmw280000gn/T/pip-build-f12cdwfh/fasttext/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().

[2016-08-24 08:29] flybirp commented on #45
by the way, I did install newer version of gcc with homebrew

[2016-08-24 08:34] pyk commented on #45
@flybirp have you tried this?

[code]

change the `/path/to/your/latest-gcc-binary` with the latest one

[2016-08-24 08:49] flybirp commented on #45
yes, by trying this, will gives me a different error

Installing collected packages: fasttext
  Running setup.py install for fasttext ... error
    Complete output from command /Library/Frameworks/Python.framework/Versions/3.5/bin/python3.5 -u -c "import setuptools, tokenize;__file__='/private/var/folders/72/mzywkdcd73l_9pd98pdgmw280000gn/T/pip-build-dxzsbtml/fasttext/setup.py';exec(compile(getatt

[2016-08-24 09:16] pyk commented on #45
@flybirp now the problem is `g++-4.2` is not available on your system.

Strange, it should work with: `env CC=/path/to/your/latest-gcc-binary pip install fasttext`

[2016-08-24 18:14] beaubarbour opened #49 "Failed Classifier Test"
We are trying to use fastText.py for text classification but we can't even get a pulse out of it. we were able to get the skipgram stuff to work, so the installation appears sound. The problem occurs with a simple test where data.train.txt contains the following training data, but the python script hangs with no result. We're not looking for anything from this test except confirmation that it's ru

[2016-08-24 19:03] londonm commented on #45
Also running into the "Failed building wheel issue"

C:\Users\hiddenuser\AppData\Local\Programs\Common\Microsoft\Visual C++ for Python
\9.0\VC\Bin\cl.exe /c /nologo /Ox /MD /W3 /GS- /DNDEBUG -Ic:\python27\include -I
c:\python27\PC /Tpfasttext/fasttext.cpp /Fobuild\temp.win32-2.7\Release\fasttext
/fasttext.obj -pthread -funroll-loops -std=c++0x
  cl : Command line warning D9002 : ignoring unknown o

[2016-08-24 21:04] #49 closed

[2016-08-24 21:05] pyk commented on #49
Hi @beaubarbour, Thanks for the report! 👍

Hmm it seems we forgot to change the default params of `minCount` in the interface after upgrading the `fasttext(1)` library.

Using the current version, You should be able to re-run your script with a litle modification:

[code]

This bug is fixed on `v0.7.2` release or #50

Please upgrade using the following command

[code]

After upgrading, you should

[2016-08-24 21:19] pyk commented on #45
Hi @londonm, we don't distribute this package in `wheel` format yet

[2016-08-24 23:55] xiamx commented on #47
I think the (OSX) users were not trying to use the wheel distribution. Rather they are trying to build the Cython source code which does not build on clang.

[2016-08-25 01:54] lampts commented on #24
Yes, it seems to be duplicated.

[2016-08-25 03:33] pyk commented on #47
@xiamx can you elaborate more?

As far as I know from [the build log](https://github.com/salestock/fastText.py/issues/45#issuecomment-241744322) are they trying to build in the `wheel` format:

[code]

[2016-08-25 04:10] rahulroxx opened #51 "Parsing text"
Hi, I am new to machine learning . I was curious to know that if there is a solution to solve this problem with the use of fastText

string1 = "Hi i live in noida 74"
parse locations = Sector-74, Noida

Where I have locations.txt for training set as follows
* Sector-74, Noida
* Sector 112, Noida
..... so on

Please help me out to this problem.

Thanks,

[2016-08-25 04:46] pyk commented on #51
Hi @rahulroxx,

What you are trying to achieve is called [Named-entity recognition](https://en.wikipedia.org/wiki/Named-entity_recognition) task. In this case the entity is `location`.

Yes, you can use a word vector from fastText and feed them to [LSTM-CRF model](https://github.com/monikkinom/ner-lstm) to be able to identify location from raw string. I hope this answer helps you.

I will close th

[2016-08-25 04:46] #51 closed

[2016-08-25 07:27] lcorbel opened #52 "Issue with labels recognition"
Hi,

There seems to be an issue when training a classifier on an input txt file. The labels are not recognized even though they have the right prefix in front of them.

I tried with both the default  '\__label__' prefix and custom prefix and both did not work.

Good luck in your work, it seems promising ! :)

[2016-08-25 07:32] pyk commented on #52
@lcorbel can you give us the example your data? Will try to reproduce it. Especially on lines that doesn't recognised as label

[2016-08-25 08:23] rahulroxx commented on #51
Thanks @pyk , If I need help regarding this problem where can I contact you?

[2016-08-25 08:25] rahulroxx commented on #44
Do we need to add a function
for eg.
`list_to_narray()` in fastText?

[2016-08-25 10:11] pommedeterresautee commented on #51
What you want is a crf or something which makes structured prediction. Not the purpose of fasttext.

[2016-08-25 10:39] rahulroxx commented on #51
Thanks @pommedeterresautee for looking into this. Would you please elaborate how to solve it ?

[2016-08-25 11:40] prakhar21 opened #53 "Training for Word-Vector model taking much time."
hi,
I am trying to use fasttext python package. I am trying to train my word-vector model using the below command.
`model = fasttext.skipgram('path-to-data', 'model')`
It has been like 30 minutes, and it is still training or is hung, I don't know.
My file contains just 2 statements on different lines.

Thanks

[2016-08-25 12:00] pyk commented on #53
Hi @prakhar21 ,

Which version of fasttext are you currently using?

[code]

The problem that you are described here is related with #49, we have a problem with `v0.7.1` release and it is fixed on `v0.7.2` release.

[2016-08-25 12:04] prakhar21 commented on #53
Hi @pyk , I am using `v0.7.2` only.

[2016-08-25 12:11] pyk commented on #53
Thanks!

We can reproduce your case using the following simple data:

[code]

Hotfix is on progress

[2016-08-25 12:40] pyk commented on #53
Hi @prakhar21, turns out that this is also happen in `fasttex(1)`, already reported here https://github.com/facebookresearch/fastText/issues/63

For now please use:

[code]

[2016-08-25 12:40] #53 closed

[2016-08-25 12:50] prakhar21 commented on #53
@pyk Okay Thanks.

[2016-08-25 13:29] MatthiasRMS opened #54 "Issues with latest update ?"
Hi,

I've updated the package and now, when training a classifier:
[code]

 I get this:

[code]

Is it coming from my environment or is it due to the latest update ?

[2016-08-25 14:00] pommedeterresautee commented on #51
Basically, to solve NER task, you want a learner able to learn and optimize the sequence of tags and not only work on each step independently, otherwise, for instance it may tag New but not York of the expression New York (or the name and not the nickname, and so on).

There are several ways to do it, in the linear world, CRF is the most common algo family used for that.
In the Nnet world there ar

[2016-08-25 14:47] pyk commented on #44
@rahulroxx hmm I think it's better to directly return the Numpy array via the [C++ interface](https://github.com/salestock/fastText.py/blob/master/fasttext/interface.cc#L79)

[2016-08-25 14:49] pyk commented on #54
Hi @MatthiasRMS , `std::bad_alloc` means the C++ extension cannot allocate memory to the heap. Please check the size of `model.bin` and make sure that you have enough memory to load it

[2016-08-25 14:51] pyk commented on #45
Closed, since the OP already install the fasttext successfully #54

[2016-08-25 14:51] #45 closed

[2016-08-25 15:49] xiamx commented on #47
The issue with #45 was that fasttext c++ code couldn't build on OSX
[code]
It couldn't find `random.h` in the compiler's default _include_ path.

I proposed a fix with #55, hoping doesn't break linux build.

[2016-08-25 16:01] pyk commented on #47
@xiamx thanks! 👍

[2016-08-29 14:10] spate141 commented on #24
@pyk thers's new update in fastText for predict-prob!

[2016-08-29 14:25] pyk commented on #24
@spate141 yup yup, already working on it 😄

[2016-08-30 04:19] #54 closed

[2016-08-30 04:19] #52 closed

[2016-08-30 04:49] pyk opened #58 "Handle unknown loss function name"
Maybe we can raise  a `ValueError`  exception if the `loss` params is not supported.

Example test cases:

[code]

[2016-08-30 04:51] elmar-haussmann opened #59 "Predict Performance"
The performance of `classifier.predict` is extremely bad at the moment. This is because for each call `FastTextModel::classifierPredict` instantiates `Model model(_input_matrix, _output_matrix, dim, args.lr, 1);`, which in turn recomputes the binary tree for hierarchical softmax. In my experiments, this took roughly a second for each call, but it depends on the size of the dictionary.

One solutio

[2016-08-30 13:00] minimaxir commented on #59
Hitting similar performance issues (1 sec/call on a large dictionary) with `classifier.predict`.

[2016-08-30 17:24] pyk commented on #59
@elmar-haussmann @minimaxir yup yup, and it seems the latest version of fastText already store the model inside `FastText` class https://github.com/facebookresearch/fastText/blob/c5eda6041e9274c672196d1f56bcb66e0682a18a/src/fasttext.h#L24-L32

So we don't need to instantiates the `Model` in `classifier.predict` anymore, I will ship this change together with #24

[2016-09-01 16:04] pyk commented on #59
solved by #60 and `classifier.predict` performance is improved at fastText.py v0.7.3 release

[2016-09-01 16:04] #59 closed

[2016-09-01 16:05] pyk commented on #24
implemented here #60

[2016-09-01 16:05] #24 closed

[2016-09-01 16:06] pyk commented on #24
Oh ya, for the API we use:

[code]

simple as always 😄

[2016-09-01 16:11] spate141 opened #61 "fastText 0.7.3 pip install issue"
`gcc: error: unrecognized command line option '-stdlib=libc++'
  error: command '/opt/local/bin/gcc' failed with exit status 1`

[2016-09-01 16:12] pyk commented on #61
Are you using OSX?

[2016-09-01 16:14] spate141 commented on #61
Yes, OSX. and I already tried this option also,
https://github.com/salestock/fastText.py/issues/45#issuecomment-241822960

[2016-09-01 16:19] pyk commented on #61
hmm it [seems](http://stackoverflow.com/questions/24419832/unrecognized-command-line-option-stdlib-libc-with-macports-gcc48) that  `-stdlib=libc++` is for `clang`. Not for `gcc`

[2016-09-01 16:20] pyk commented on #61
The OSX build is fixed by @xiamx on #55, I think it should work without `CC=/opt/local/bin/gcc`

[2016-09-01 16:21] spate141 commented on #61
..and its solved! Thanks 🙂

[2016-09-01 16:21] #61 closed

[2016-09-01 16:22] pyk commented on #61
yup yup @spate141 👍

[2016-09-01 16:27] spate141 opened #62 "fasttext version error"
[code]

[2016-09-01 16:41] pyk commented on #62
oh shit, my bad.

Please upgrade:

[code]

And try it again:

[code]

[2016-09-01 16:47] spate141 commented on #62
[code]

[code]

[2016-09-01 17:01] pyk commented on #62
hmmm strange, it works on my side.

I think let's remove the `fasttext/VERSION` #64 ; it cause unexpected error in different env.

Sorry @spate141 , can you try again?

[code]

[2016-09-01 17:05] spate141 commented on #62
@pyk Solved! Thanks 👍

[2016-09-01 17:05] #62 closed

[2016-09-01 17:05] pyk commented on #62
Nice nice 👍

[2016-09-04 20:53] mbaniasad opened #66 "skipgram is unknown"
i'm getting this error
attributeError: 'module' object has no attribute 'skipgram'

[code]

[2016-09-05 04:32] pyk commented on #66
Hi @mbaniasad ,

The `skipgram` is defined [here](https://github.com/salestock/fastText.py/blob/master/fasttext/__init__.py#L1) it should be callable (tested [here](https://github.com/salestock/fastText.py/blob/master/test/skipgram_test.py#L56)).

Can you give us the output of `fasttext.__VERSION__` ?

[2016-09-05 11:11] mbaniasad commented on #66
seems the error was due to the fact that my test filename was fasttext
tried it in another dir with python shell and it seemed working
so i renamed the file and now it's getting over this error. thanks

[2016-09-05 11:11] #66 closed

[2016-09-05 11:16] mbaniasad opened #67 "accuracy for test results."
it would be nice to have accuracy as well for test results

[2016-09-05 14:18] pyk commented on #67
@mbaniasad feel free to send PR 👍

[2016-09-05 15:50] rsteca opened #68 "error on predict"
Doing the following:
[code]

gives me the following error:
[code]

But if I use the fastText library directly from shell it works ok.
I have tried multiple datasets and it always gives the same error.

[2016-09-06 03:09] pyk commented on #68
Hi @rsteca , thanks for the report!

For now please use this:

[code]

Will try to investigate this problem

[2016-09-06 04:18] pyk commented on #68
Solved by #69 , Will release `v0.7.6` with the patch

[2016-09-06 04:45] #68 closed

[2016-09-07 07:47] jinzhang-zj opened #72 "predict-proba return empty results"
I ran the predict-proba over 60k test samples, and get a probability tuple inside a list for most of the samples, however, a small fraction of the samples return an empty list, did anyone have the same issue?

I ran the fastText binary version it runs normally and return probability for all samples

[2016-09-07 10:14] pyk commented on #72
Hi @jinzhang-zj,

Sorry, I can't reproduce your issue. I have compare the output from `fasttext(1)` and `classifier.predict_proba`  and the result is the same. (Tested [here](https://github.com/salestock/fastText.py/blob/master/Makefile#L102) and [here](https://github.com/salestock/fastText.py/blob/master/test/classifier_test.py#L256))

Please make sure that you are running the same version of fas

[2016-09-07 21:40] jinzhang-zj commented on #72
Thanks for replying so promptly.

It looks my problem can be resolved if I keep the first comma right after the "__label__x", not sure it's the correct way of doing this but now it gives the same results as the binary version.

[2016-09-07 21:40] #72 closed

[2016-09-10 23:50] lefromage opened #73 "Support non utf-8 encoding"
facebook fasttext can use non-utf8 text codes in labels seemlesly, but this python layer cannot.
it would be nice to have any character support  implemented in the future
for now I cannot load the fasttext generated model : model = fasttext.load_model(model_bin)
I get this error

Traceback (most recent call last):
  File "/Users/xjxr170/PycharmProjects/keras/flask_fasttext1.py", line 25, in <modul

[2016-09-11 06:26] pyk commented on #73
Hi @lefromage,

Yup currently, we only support UTF-8.

Maybe we can add `encoding` optional params in `load_model` to specify the non UTF-8 encoding like the following:

[code]

What do you think?

[2016-09-13 03:18] pyk opened #74 "Update fastText C++ libs to d652288"
fastText https://github.com/facebookresearch/fastText/commit/6ab48c5cc4753fdf7d6d233f65a9b605d0be1f9a add some enhancements.

But setting `verbose` option to `0` doesn't make any change to the stdout output:

[code]

So we still need to use our own `silent` option to redirect the output.

In this version, fastText also introduce new functionality to get vector from paragraph.
Maybe we can re-intro

[2016-09-13 04:04] pyk opened #76 "Implement paragraph-to-vector"
fastText https://github.com/facebookresearch/fastText/commit/6ab48c5cc4753fdf7d6d233f65a9b605d0be1f9a introduce paragraph to vector functionality via `print-vector` for supervised/classifier model.

To implement this, we need to add new test case to make sure that the output is equivalent as:

[code]

And for the API we can use `paragraph2vec(text)` or `compute_vector(text)`
[code]

`compute_vecto

[2016-09-13 04:04] pyk commented on #74
resolved by #75, for discussion on paragraph-to-vector see #76

[2016-09-13 04:04] #74 closed

[2016-09-13 16:23] elyase opened #77 "Access word frequency information"
is the word frecuency information available in the C++ code? In that case This would be a great feature to have for example for pruning the size of the embeddings.

[2016-09-13 16:28] lefromage commented on #73
sure

[2016-09-19 22:56] pyk commented on #77
hi @elyase ,

Yes, it's available in the private fields `Dictionary::words_` (`entry.count`)

[2016-09-24 16:11] pyk opened #78 "Support iterator as input for training/testing"
Currently we only support file stream as the input of training data, we need to support iterator as an input. For example:

[code]

Notes:

* We need to make sure that `len(texts) == len(labels)`

[2016-09-28 03:05] kn45 opened #80 "fasttext.cbow() 'input' param is system builtin"
it seems that 'input' is system builtin, if passing value as:
    cbow = fasttext.cbow(input='data',  output='model')
would cause error:
    File "fasttext/fasttext.pyx", line 247, in fasttext.fasttext.cbow (fasttext/fasttext.cpp:5795)
    TypeError: cbow() takes at least 2 positional arguments (0 given)

cbow = fasttext.cbow('data',  output='model') is ok.

[2016-09-28 03:18] kn45 commented on #80
ok, i found the param name should be input_file.

[2016-09-28 10:07] pyk commented on #80
Thanks @kn45 for the report and PR #81, will merge the PR! 👍

[2016-09-28 10:07] #80 closed

[2016-09-30 14:33] #73 closed

[2016-10-04 20:45] gnardari opened #83 "out-of-vocabulary words in text classification"
When running Facebook Fasttext, the supervised classifier approximates vectors for out-of-vocabulary words but using the python interface for the same train/test dataset yields an empty list (word-vector is all zeroes). An easy way to test this is trying to classify a single unseen word.

Is this the expected behaviour?

I'm using Fasttext 0.7.6 with python 2.7.10

[2016-10-05 08:11] pyk commented on #83
Hi @gnardari,
If you want to get the word vector from unseen words you can use `skipgram` or `cbow` model.

[2016-10-05 11:57] gnardari commented on #83
Thanks for the reply.  I managed to get the word vectors for unseen words using the word2vec algorithms but I'm trying to feed this vectors  to the supervised classifier. Is there a built in way of doing this?

[2016-10-05 12:39] pyk commented on #83
No, currently not supported yet. However you can use `fasttext(1)` C++ directly and use `-pretrainedVectors` params

[2016-10-05 12:40] pyk opened #85 "Support pre-trained word vector for classifier"
Implement `-pretrainedVectors` params

[2016-10-05 12:41] pyk commented on #83
Follow up issue about pre-trained word vectors #85

[2016-10-06 14:49] wakamd opened #86 "Error on Fasttext"
I just installed the Fasttext package from https://pypi.python.org/pypi/fasttext. I then tried the example from the site:

import fasttext

# Skipgram model
model = fasttext.skipgram('data.txt', 'model')
print model.words # list of words in dictionary

# CBOW model
model = fasttext.cbow('data.txt', 'model')
print model.words # list of words in dictionary
I however got this error:

Traceback (most

[2016-10-06 15:02] pyk commented on #86
Hi @wakamd ,

[code]

it means `fasttext` is not installed to your system yet. Please run:

[code]

[2016-10-06 15:06] wakamd commented on #86
Just tried that but got this error: Failed building wheel for fasttext, then error: [Error2] The system cannot find the specified file

[2016-10-06 15:47] wakamd commented on #86
C:\Users\Morris>pip install fasttext
Collecting fasttext
  Using cached fasttext-0.8.0.tar.gz
Requirement already satisfied (use --upgrade to upgrade): numpy>=1 in c:\python27\lib\site-packages (from fasttext)
Requirement already satisfied (use --upgrade to upgrade): future in c:\python27\lib\site-packages (from fasttext)
Building wheels for collected packages: fasttext
  Running setup.py bdist_wh

[2016-10-06 15:51] pyk commented on #86
@wakamd sorry, I can't reproduce your issue. I don't have windows env.

[code]
However looking at the errors, your system dosn't have python dev lib to build the C++ extension (`python-dev` on Ubuntu).

[2016-10-11 17:07] odgiv opened #87 "Can not install fasttext.py in Linux Mint 18 Sarah"
Hello, I am getting an error saying as below when I try to install fasttext python package on my linux machine. Do you know how to fix this issue?

fasttext/fasttext.cpp:26:20: fatal error: Python.h: No such file or directory
compilation terminated.
error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

[2016-10-11 17:16] pyk commented on #87
Hi @odgiv ,

You need to install `python-dev` package first on your linux machine

[2016-10-11 17:25] odgiv commented on #87
Hi @pyk Thank you. It works now.

[2016-10-11 17:28] pyk commented on #87
Nice 👍

[2016-10-11 17:28] #87 closed

[2016-10-12 11:55] catethos commented on #85
hi I am willing to help this but I am not familiar with cython, any pointer to which part of code should I read first?

[2016-10-12 12:10] pyk commented on #85
Hi @catethos,

You can start from https://github.com/salestock/fastText.py/blob/master/fasttext/fasttext.pyx#L238 to get general idea of

[code]
 how we use cython to pass and receive data from python to c++.

I recommend to read this docs first http://cython.readthedocs.io/en/latest/src/tutorial/cython_tutorial.html

[2016-10-14 11:33] s-j opened #88 "Installing fasttext with Anaconda"
Hi, I have tried to install fastText.py on top of my Anaconda installation. `pip install fasttext` completes well, but the following fails:

[code]

Could you please explain the error or what have I done wrong?

Thanks,
Simon

[2016-10-14 15:26] pyk commented on #88
Hi @s-j,

[code]

it seems that the C++ extension is compiled unsuccessfully.

Please run `pip install -U fasttext` and make sure that the fasttext version is `0.8.0`

[2016-10-18 06:42] wakamd commented on #86
Hi I tried with Ubuntu after installing the required modules. Now I get this:
ValueError: fastText: cannot load data.txt. what data is used?
Regards

[2016-10-18 07:23] s-j commented on #88
Hi Bayu, thanks for a quick response. Have tried `pip install -U fasttext --no-cache-dir --no-deps --force-reinstall` a couple of times without luck. I have downloaded and compiled the original code and it works like a charm. The machine here is runs Ubuntu 16.04 with Anaconda3 4.2.9, could that be of a problem?

Installation on my macbook laptop (also running the same version of anaconda) works w

[2016-10-19 07:14] yenchaos commented on #88
Hi @s-j , I encountered the same issue on my desktop which also runs Ubuntu 16.04 with Anaconda3 4.2.0. Mac is good. I realized that my aws instance (Ubuntu 14.04) runs well with Anaconda3 4.1.1, so I changed the Anaconda3 version to 4.1.1. Finally it works, but I don't know the reason.

[2016-10-19 14:10] pyk commented on #86
@wakamd from your code:

[code]

`data.txt` should be exists in the current directory

[2016-10-21 16:01] jnmiller opened #90 "Supervised with word_ngrams > 1 results in "Floating point exception: 8""
It works fine with `word_ngrams=1` but crashes when set to 2.

* Python 3.5.1
* OSX 10.11.6
* fasttext (0.8.0)

Python code:

[code]

train.txt:

[code]

Result: prints `Floating point exception: 8` and program crashes with return code 136.

[2016-11-02 13:53] rash19 opened #91 "Unable to install fasttext on windows with pip command"
I am trying to install FastText on windows by using:
pip install fasttext.
below is the error.

Collecting fasttext
  Using cached fasttext-0.8.0.tar.gz
Requirement already satisfied (use --upgrade to upgrade): numpy>=1 in c:\python2
7\lib\site-packages (from fasttext)
Requirement already satisfied (use --upgrade to upgrade): future in c:\python27\
lib\site-packages (from fasttext)
Building wheels

[2016-11-09 21:19] gggdomi opened #92 "Inconsistent predict return value"
Hi, I noticed an unexpected behavior using predict with trained vs loaded model

- Python: 3.4.3
- OSX: 10.12.1
- fasttext: 0.8.0

[code]

The difference is in the default `label_prefix` value (`__label__` in `supervised` and `''` in `load_model`)

I'll send a PR with `label_prefix` as default value in both soon, so the output is `[['2']]` in both case.

However, I wonder if it would be better to

[2016-11-09 22:42] gggdomi commented on #85
Hi @pyk, @catethos,

I sent a PR enabling pretrainedVectors support.
I have compared classifier performance with/without it. It makes a notable difference - especially when there is few training epochs - so I guess it is taking the pretained word vectors into account.

[2016-11-10 08:51] pyk commented on #85
Thanks @gggdomi! Fixed by #93

[2016-11-10 08:51] #85 closed

[2016-11-10 08:52] pyk commented on #83
pre-trained word vectors is now supported #93

[2016-11-10 08:52] #83 closed

[2016-11-10 09:05] pyk commented on #92
@gggdomi you can load your model with specified `label_prefix` to get expected behaviour https://github.com/salestock/fastText.py#load-pre-trained-classifier

Yep, you are right

[2016-11-10 18:01] gggdomi commented on #92
@pyk: indeed, but with no value specified, it is confusing to have different outputs as in my code snippet.
Is there a reason for not having `__label__` as the default value for `label_prefix` in `load_model`?

[2016-11-10 21:11] pyk commented on #92
Because `label_prefix` info is not saved in the `model.bin` file. We can't assume that the `label_prefix` is `__label__`. It should be explicitly added to prevent unexpected behaviour (We do replace string operation on the label).

[2016-11-12 06:09] bowlesbe opened #96 "stuggling with install on a redhat centos"
[code]

[code]

[2016-11-15 18:53] thak123 commented on #91
Yea even I faced the same issue . The file called stdint.h Is missing from the VC++ for python in windows OS. So we need to put the file from online repo. I tried doing it. It even fixed that error but it then throws out a more bunch of file not found errors.

[2016-11-18 05:38] j-min commented on #90
Same error appears when minn>1, maxn>1. Needs to be fixed.

[2016-11-22 15:10] gitpurzy commented on #90
Same as above; my environment: ubuntu 14.04, python 2.7.6

[2016-12-07 07:23] abhishekscript opened #97 "How do I update an already existing model"
I have trained a model with input file having 545 sentences and is working as required.
Now if I have another 700 sentences , how do I update the existing model with new data without making fasttext retrain the previous 545 sentences.
Looking for something relevant to this :
`model = fasttext.load_model('model.bin', encoding='utf-8')`
`model.update(  "another-file.txt  )`

[2016-12-08 00:43] pyk commented on #97
Hi @abhishekscript,

Sorry, currently it's not possible to perform gradually update process like that (even in the `C++` version). You can easily train a new model using concatenated text. I hope it helps.

[2016-12-09 10:24] dmartincc opened #98 "load_model not working"
For the code attached, I got this message "'module' object has no attribute 'load_model'",
I tried uninstalling and reinstalling again Cython and fasttext. Any clue, why might this happen?

`
import fasttext as ft
`
`
model = ft.load_model('model.bin')
`

[2016-12-09 10:38] pyk commented on #98
Hi @dmartincc,

Make sure there are no file named `fasttext.{py,pyc}` in the current directory

[2016-12-09 12:55] s-j commented on #88
No longer required, seems to work just fine.

[2016-12-09 12:55] #88 closed

[2016-12-12 08:08] dmartincc commented on #98
@pyk that was the problem, cheers.

[2016-12-12 08:08] #98 closed

[2016-12-12 18:42] eloiup opened #99 "prediction: blanks [[],[],[],[]]"
Hi.

Trying to use it on:
ipython notebook (anaconda) python 2.7
linux

simple example not working not sure what i am doing wrong.

txt file:

[code]

[code]

[code]

any ideas whats going on or how to fix it? thx

[2016-12-13 20:41] jeffkpayne opened #100 "Default values for `supervised` params `loss` and `bucket` are out of sync with C++ documentation"
According to the docs for the fastText C++ library/tool, the `loss` param defaults to `'ns'` and the `bucket` param defaults to `2000000`, not `'softmax'` and `0`.

[2016-12-13 20:54] jeffkpayne commented on #100
Hm, maybe it's that the defaults used in the Python module itself should be changed to match the ones in the fastText C++ library or command line executable.  When I leave out the `bucket` param in a call to `fasttext.supervised()`, I get a process-terminating exception.  For instance, here's an example in an `ipython` console:

[code]

So, the default value of `0` used by the Python module itself

[2016-12-21 00:07] zinksink opened #101 "Can't install on EC2"
command: sudo pip install fasttext

gcc: error: fasttext/fasttext.c: No such file or directory
gcc: fatal error: no input files
compilation terminated.
error: command 'gcc' failed with exit status 4

server info:
NAME="Amazon Linux AMI"
VERSION="2016.09"
ID="amzn"
ID_LIKE="rhel fedora"
VERSION_ID="2016.09"
PRETTY_NAME="Amazon Linux AMI 2016.09"
ANSI_COLOR="0;33"
CPE_NAME="cpe:/o:amazon:linux:2016.

[2016-12-21 00:12] pyk commented on #101
hmmm I don't know why `gcc` is looking for `fasttext/fasttext.c` which doesn't exists.

Can you try to install the `Cython` first and then the `fasttext`?

[code]

[2016-12-21 00:14] pyk commented on #100
Hi @jeffkpayne, thanks for the report!

I will look into this.

[2016-12-21 00:21] zinksink commented on #101
Tried that already... tried installing build straight from the fasttext-0.8.1.tar.gz too... it was still looking for fasttext.c for some reason.

[2016-12-21 00:28] zinksink commented on #101
gcc version:
gcc (GCC) 4.8.3 20140911 (Red Hat 4.8.3-9)

[2016-12-21 00:29] pyk commented on #100
It seems that the C++ docs is outdated, here the default params in the C++:

[code]

Relevant code: https://github.com/facebookresearch/fastText/blob/master/src/args.cc#L43

FYI, we have run automated test for this https://github.com/salestock/fastText.py/blob/master/test/classifier_test.py#L137
to make sure that the default params is correct.

[2016-12-21 00:39] pyk commented on #101
Btw I don't know if it solve the problem, but you can try to install the `fasttext` manually:

[code]

[2016-12-21 00:53] pyk commented on #99
Hi @eloiup,

Your simple example only contains a one-word only. By default, a supervised model in the fasttext expect the following:

1. `ws=5` the context window should be at least `5`. Your training text is doesn't have any context at all, only one word.
2. `min_count=5` this is a minimal number of word occurences. your dataset is unique, each word appear only once.

The information available he

[2016-12-21 00:53] #99 closed

[2016-12-21 01:03] zinksink commented on #101
Now I'm getting this error:
ImportError: No module named Cython.Build
make: *** [install] Error 1

[2016-12-21 01:03] zinksink commented on #101
p.s. thank you for helping.

[2017-01-03 23:14] goldan opened #103 "Installation problem on Mac OSX"
I'm getting the following error when installing fasttext on Mac OSX Sierra 10.12. Could you help to solve it?

Collecting fasttext
  Downloading fasttext-0.8.2.tar.gz (73kB)
    100% | 81kB 836kB/s
Requirement already satisfied: numpy>=1 in /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/numpy-1.12.0rc2-py2.7-macosx-10.6-intel.egg (from fasttext)
Requirement already s

[2017-01-04 18:19] goldan commented on #103
Wow, surprisingly after hours of digging, a simple update of distutils from version 0.6.14 to 0.7.3 solved the problem:

sudo pip install -U distribute

For what it's worth, this idea came to my mind after I ran

DISTUTILS_DEBUG=1 python setup.py build

to see exactly what's going on during build process, and then decided to update all libraries involved.

[2017-01-04 18:20] goldan commented on #103
I suggest that the developers add distutils 0.7.3 as a dependency to prevent the issue in the future.

[2017-01-04 18:20] #103 closed

[2017-01-09 11:56] shaikatzir commented on #90
Same as above; my environment: ubuntu 14.04, python 2.7.6

[2017-01-09 14:49] koenvanderveen commented on #88
Hi,
I am having exactly the same problem (but with python 2.7). Can you tell me how you fixed this?

[2017-01-14 05:18] anttttti commented on #90
Same here, "Process finished with exit code 136 (interrupted by signal 8: SIGFPE)" Anaconda Python 2.7.11. Ubuntu 16.04

[2017-01-20 13:44] SebastianSingle99 opened #104 "Example precision/recall"
Hi,
running the classification example produces:

P@1: 0.11
R@1: 0.11
Number of examples: 100

Is the precision/recall only 11% for this example?

Thanks

[2017-01-20 15:50] giacbrd commented on #104
Hi, maybe your answer is here https://github.com/facebookresearch/fastText/issues/93

[2017-01-23 07:27] SebastianSingle99 commented on #104
Thanks. But i run the example code from this repo which is a multiclass classification.

[2017-01-24 15:59] spate141 commented on #76
Any updates ?

[2017-01-26 16:11] bkj commented on #88
I'm having the same problem -- any ideas?

[2017-01-26 21:41] cimarie commented on #90
same problem here. My environment: Ubuntu 16.04;  Python 2.7.12

Running from the command line fasttext tool works fine.

[2017-01-27 20:22] bittlingmayer opened #106 "Can't pip install"
I got past #101 , then when I pip install fasttext I hit the following:

I'm on MacOS - Sierra (10.12.1), Python3.5 obviously.

Any hints?

[2017-01-31 11:05] bittlingmayer commented on #106
GCC version must be 4.6 or above.

[2017-01-31 11:05] #106 closed

[2017-01-31 11:15] bittlingmayer commented on #101
This is the issue, I believe:
This lib requires Cython, not just to run but to install.  [pip does not guarantee an install order](https://github.com/pypa/pip/issues/2478) and is not yet always smart about it either.  If you are using requirements.txt it is a problem, even if you place Cython before fasttext in requirements.txt.  If you are using containers, EC2, AppEngine etc then you must use re

[2017-01-31 13:03] bittlingmayer commented on #101
I see in Makefile that there is a line `pip install -r requirements.txt` which should install `Cython` before `setup.py` is called, but it does not seem to be working.

[2017-02-01 13:30] pybokeh commented on #91
I am hoping someone can eventually upload Windows binaries at http://www.lfd.uci.edu/~gohlke/pythonlibs/

[2017-02-02 04:03] bkj opened #108 "Inconsistent performance w/ `fasttext` itself"
`fasttext` treats the EOS character `</s>` as a token. `fastText.py` does not, so the results are inconsistent.

[code]

Note that if the last character in `data.txt` is _not_ `\n`, then the prediction for the last line will be
[code]
which is the prediction if we drop the EOS character.  This is obviously a bug in `fasttext` itself, but is helps illustrate the issue.

A (sortof dirty) fix would b

[2017-02-02 04:11] mktal commented on #108
I had the same issue and created a pull request #107

[2017-02-09 20:26] spate141 opened #109 "Model loading with multiple processes ?"
How to load fasttext models with multiple threads? Currently library is just using one process to load model and its taking too much time to load multiple models

[2017-02-10 03:04] datalee opened #110 "can i use fasttext model in the environment of the spark streaming"
thks

[2017-02-13 15:07] jeffkpayne commented on #110
@datalee I currently work with both technologies.  In what respect do you mean?

[2017-02-13 15:31] jeffkpayne commented on #109
@spate141  The `fastText` C++ lib _predict_ functionality is thread safe as of this commit, https://github.com/facebookresearch/fastText/commit/4528a72e783ee14462fc721dc3fe3d46a869ca08.  I'm using it in a multi-threaded way, by simply creating a classifier object with `fasttext.load_model()` and using the returned object in multiple threads.

[2017-02-13 16:27] jeffkpayne commented on #100
Thanks for the update!  Just noticed that the usage message spit out by the cli `fasttext supervised` is still incorrect.  Closing this and opening an issue over there.

[2017-02-13 16:27] #100 closed

[2017-02-14 00:49] datalee commented on #110
@jeffkpayne i want to recieve the data(the text of news) from stream,then use the fasttext model(haved train)to prediction the class of the news. if some new data arrived,the programe can work by itself end to end.thks.

[2017-02-14 15:34] jeffkpayne commented on #110
I guess you could create a UDF that takes the content as input and returns
the classification(s) as output. I'm assuming you're using Spark for
additional aggregates, etc. If not, you might be better off using a more
general use streaming system, especially if the rate of new content
arrivals varies wildly.

On Mon, Feb 13, 2017, 4:49 PM datalee <notifications@github.com> wrote:

--
Jeff Payne
jef

[2017-02-14 15:54] minimaxir commented on #110
PySpark has a word2vec function which may be better suited for speed/streaming.

[2017-02-14 16:42] pyk commented on #108
This problem should be fixed on [0.8.3](https://pypi.python.org/pypi/fasttext/0.8.3)

[2017-02-14 16:42] #108 closed

[2017-02-15 10:17] birolkuyumcu opened #112 "windows build not working properly"
i try to install fastText.py
clone it
and
python setup.py install
gives
“Error: '::hypot' has not been declared”
error i solved it by adding
#include <cmath>
before
#include <Python.h>
then package builded and installed
i used this
https://github.com/miguelgfierro/sciblog_support/blob/master/Intro_to_NLP_with_fastText/Intro_to_NLP.ipynb
ipyhton notebook

it produce a proper bin file
with the same

[2017-02-15 15:24] pyk commented on #112
with the same input data
produce a same length bin file as commandline version produce
but
predict and test functions not working

Hi @birolkuyumcu , can you give us the error message?

[2017-02-15 17:04] birolkuyumcu commented on #112
there is no error message
[code]
output ;
`[[]]`

and

[code]

output
[code]

[2017-02-17 07:07] terryKing1992 commented on #104
@SebastianSingle99 default parameter is better.firstly, i use  `classifier = ft.supervised(input_file, output, dim=dim, lr=lr, epoch=epoch,
    min_count=min_count, word_ngrams=word_ngrams, bucket=bucket,
    thread=thread, silent=silent, label_prefix=label_prefix)`, the variable value is the same as `classification_example.py` then i got `P@1: 0.36 R@1: 0.36 Number of examples: 100`;then i use de

[2017-02-20 09:38] ben0it8 commented on #61
can you please share the exact solution? I ran into the same error.

[2017-02-21 03:05] datalee commented on #91
how can i install the fasttext in the windows? who can help me ?

[2017-02-21 22:52] gabrielpeixoto commented on #112
I also have the same problem.

[2017-03-04 05:01] GeorgeChan commented on #112
cf = fasttext.load_model(‘some.bin’)
on windows:
`   cf.labels  is []`
on linux:
`    cf.lables is ["A"',"B".....]`

[2017-03-09 14:34] bratao commented on #112
I did not had time to understand, just a quick debug. But apparently the problem during the load of the stored model, that loads an empty model.

Looks like the Visual Studio 2015 compiler used in Python 3.6 is doing something funny.

[2017-03-13 04:27] fucusy opened #113 "error can't pickle FastTextModelWrapper objects"
when I dump model to disk using pickle.dump

`classifier = fasttext.supervised(train_data_filename, train_model_filename)
pickle.dump(classifier, open(classifier_filename, 'wb'))`

[2017-03-14 11:52] kskrishnasangeeth opened #114 "Import error in Python 2.7 after installing"
- Getting the below error while trying to import fasttext

`ImportError: /home/<name>/anaconda2/envs/dev/lib/python2.7/site-packages/fasttext/fasttext.so: undefined symbol: _ZTVNSt7_E`

[2017-03-14 13:58] geovedi commented on #88
for Anaconda3 users, try install/update `libgcc`: `conda install libgcc`

[2017-03-15 12:47] pyk commented on #114
[code]

This is happen because `fasttext` is not compiled successfully or problem in the `anaconda` stuff #88.

Can you try reinstall it again?

[code]

[2017-03-15 12:57] pyk commented on #113
hey @fucusy,

`FastTextModelWrapper` is a Cython class, I don't know if it is possible to pickle a Cython object.

Btw, you can use `fasttext.load_model` to load the model, you don't need to pickle it. FastText.py output model is designed to compatible with the C++ version. You can also use C++ version for training and load it to your python app using this package.

[2017-03-15 13:15] fucusy commented on #113
ok，thanks

[2017-03-15 14:29] rdoume commented on #88
@geovedi  Thanks, that did the trick for me

[2017-03-21 03:46] stanlee321 opened #115 "fastText: Cannot load ../fasttext/wiki.es/wiki.es.bin due to C++ extension failed to allocate the memory"
Hi, I just tried to load the wiki.bin and wiki.vac pre-trained models and I stuck in the error
fastText: Cannot load ../fasttext/wiki.es/wiki.es.bin due to C++ extension failed to allocate the memory
 Is this part of a hardware issue? I have right now 12 GB of RAM and a Linux environment running into a docker container.
Thanks.

[2017-03-21 04:13] pyk commented on #115
Hmm if you have `12Gb` free memory, it's enough to load the pre-trained models. You can run this command

[code]

to see available memory on your linux environment.

[2017-03-21 05:58] stanlee321 commented on #115
Solve the issue, it was just the default config of docker container of 1 GB of mem. Now with 8 GB the whole model was loaded without problem.

[2017-03-22 03:46] creativeishu opened #116 "Installation error: gcc: error: unrecognized command line option ‘-stdlib=libc++’"
I am trying to install fasttext using ```pip install fasttext``` command on OSX El Capitan. I am getting the following error:

[code]

I have tried searching on stack and other resources, found nothing helpful.

[2017-03-23 19:57] #109 closed

[2017-03-28 15:19] nsecord commented on #116
I encountered the same problem.  I found [this answer](http://stackoverflow.com/questions/34654682/unrecognized-command-line-option-stdlib-libc-gcc-homebrew-gcc-5-3-0-5-3-0) on Stackoverflow very helpful.  Basically, you have gcc installed and it does not support the -stdlib option

Download the source code, remove the ‘-stdlib=libc++’ option in setup.py for the command line arguments under "darwi

[2017-03-28 17:17] creativeishu commented on #116
Thanks for the suggestion. I did this but now getting another error. I noticed [this](http://stackoverflow.com/questions/34654682/unrecognized-command-line-option-stdlib-libc-gcc-homebrew-gcc-5-3-0-5-3-0), the solution is for gcc version 4.3 through 4.6. But I have gcc version 5.2. Maybe this is the reason the solution is not working for me, I am not sure. Anyways, here is the output I am getting

[2017-04-03 11:05] ecar16 commented on #112
I have the same problems with classifier.test and classifier.predict in python. I noticed that even though it doesn't work in Python, it does work in the command line. The model does exists. Does anyone know how to fix the loading problem in the python wrapper?

[2017-04-08 19:32] nsecord commented on #116
I have gcc version 6.2 and this worked for me.  Maybe try updating rather than downgrading your gcc version.

[2017-04-11 14:35] omerarshad commented on #112
facing same problem.. anyone has a solution for it? fasttext python wrapper on windows neither trains nor it loads a pre-trained classifier .

[2017-04-14 03:08] xue11 opened #118 "The predict can't get the expected result？"
I can get the expected results using command like this.
`./fasttext predict model.bin classify_test.txt`

But I can't get the same result when using in Python.
The code is like below.

`classifier = fasttext.load_model('model.bin')`
`f = open('classify_test.txt')`
`rows = f.readlines()`
`for line in rows:`
&nbsp;&nbsp;&nbsp;&nbsp;`labels = classifier.predict_proba(texts=line, k=1)[0]`
&nbsp;&nbsp;

[2017-04-14 03:33] xue11 commented on #118
I got the same result when I change my code like below.
[code]

[2017-04-14 03:33] #118 closed

[2017-04-24 15:20] spate141 opened #119 "Loading multiple supervised classification models"
I have 20 supervised classification models created with `fastText supervised`, each of with size of 1GB each. I am thinking about If I can compress/convert those .bin files in some way so that I can load all models at a same time quickly and use them to classify new data. Any thoughts?

[2017-04-24 15:29] pyk commented on #119
One of the solution will be to deploy each model as a service and run independently across your cluster. For the inference step, you can do 20 requests to 20 services at the same time instead of sequentially.

[2017-04-25 16:55] spate141 commented on #119
Yes, I am planning to do this. I was wondering more about squeezing/converting these models in a certain way where I can load all of them in same machine, maybe using less memory. Anyway, some news on fastText.zip; They may open source the library hopefully by end of this week!

[2017-04-25 16:55] #119 closed

[2017-04-26 07:08] IvyGongoogle opened #120 "can you provide data.txt?"
hello, I am a fresh hand for text. I do not know how to make a data.txt file for the command `model = fasttext.skipgram('data.txt', 'model')`. can you provide a data.txt or link?

thank you very much!

[2017-04-26 07:57] #120 closed

[2017-04-26 08:10] IvyGongoogle opened #121 "can you provide some the pre-trained model.bin, classifier.bin for Text classification for AG,sogou,DBP and so on in the paper"
hello, I want to use this code to test the performance. can you provide some pre-trained model.bin, classifier.bin for AG,sogou,DBP and so on mentioned in the paper `Bag of Tricks for Efficient Text Classification`?
thankyou in advance!

[2017-05-02 19:05] minimaxir opened #122 "New fasttext functionality (print-sentence-vector and quantize)"
[fasttext](https://github.com/facebookresearch/fastText) announced new functionality today, including a `print-sentence-vector` function and a `quantize` function, both of which would be very useful to the Python port.

[2017-05-02 20:49] spate141 commented on #122
Also loading new quantized models of `.ftz` format! Which would save a great amount of memory in loading large models.
Thanks :)

[2017-05-02 21:26] spate141 opened #123 "Installation Error on Ubuntu 14.04.5 LTS"
Already tried following, same error both time!

[code]

[2017-05-02 21:30] spate141 commented on #123
Nevermind, Issue solved with following: Uninstalling multiple cython packages!
[code]
and then,

[code]

[2017-05-02 21:30] #123 closed

[2017-05-03 01:13] pyk commented on #122
@minimaxir @spate141 Yup yup. I will try to work on this over the next weekend. PR also welcome! 😄

[2017-05-03 01:16] pyk commented on #115
@stanlee321 I will close this issue for now. Feel free to re-open the issue.

[2017-05-03 01:16] #115 closed

[2017-05-04 17:55] jcalebgood commented on #91
Same issue. How do you set the compile to use gcc? I can compile the facebook's fasttext with no issue using gcc./

[2017-05-09 22:51] ErnstTmp commented on #122
@pyk do you still need help on the topic of loading new FT-bin files?

[2017-05-14 02:09] yogendratamang48 commented on #91
My System: Windows 10 64 bit, Python 3.5. I have Visual Studio 2017 with c++ build tools installed. pip install fasttext successfully worked for me
![answer](https://cloud.githubusercontent.com/assets/14231412/26030718/82fcb7dc-387a-11e7-85e9-54f7044840f5.PNG)

[2017-05-15 17:30] RobinKa commented on #112
Probably related to / fixed by https://github.com/salestock/fastText.py/pull/124

[2017-05-17 12:06] Youyoun opened #125 "Load Model Error : Cannot load botModule/sentenceProcessing/vectorizer/model/wiki.fr.bin due to C++ extension failed to allocate the memory"
Hey ,

I am trying to Load the wiki.fr.bin model in an ubuntu server 16.04 LTS 64 bit with 32G of memory, and I get the following error :

[code]

The program works perfectly on my Mac OS with 8G of ram, but when I tried it on this machine, I get this error.

The Machine has 31G of free memory, the error happens instantly (as if the program just starts).
I'm running the program with Python 3.5.2,

[2017-05-17 21:09] srdadian commented on #125
Hi,
I've had the same issues with small models I generated with the last fasttext update. It's not a memory issue: my old wiki.en model runs perfectly whereas my 150MB new model gives me your error.
If we look at this python wrapper commits, it has not been updated for 3 months whereas they updated fasttext 14 days ago. I believe the question is: will the wrapper be updated soon?
Thanks for the wr

[2017-05-17 23:37] Youyoun commented on #125
Hey,
Thanks for your answer !
I just used scp to copy the model I had on my mac to the new machine (the one that worked on my mac which i downloaded before the update), and it works perfectly ! \o/

[2017-05-17 23:37] #125 closed

[2017-05-18 02:38] tarrekshaban commented on #122
"Edit: Also we can't load newer .bin models created with updated fastText library using fasttext.load_model(model.bin)"

How should we load the model than if we created it with the updated fastText library?

[2017-05-20 21:46] iarroyof opened #126 "loading text format pre-trained vectors"
Hi.. I'd like to load pre-trained vectors from text `file.vec`. I tried this:
[code]
And the next error is given:

[code]

Thanks

[2017-05-21 15:01] pyk commented on #126
Hi @iarroyof,

You should load the binary format (`.bin`) file instead of the plaintext (`.vec`).

[code]

[2017-05-21 15:06] pyk commented on #122
@ErnstTmp Yup, feel free to send PR. I can't manage to allocate my time to ship the update yet. Currently I'm updating the [C++ wrapper](https://github.com/salestock/fastText.py/blob/master/fasttext/interface.cc) to be able to work with the latest `fasttext(1)`.

@tarrekshaban Sorry, currently this package is not able to load the model that generated by the latest version of fastText

[2017-05-21 22:18] ytac8 commented on #115
I have same error when I tried to `model = fasttext.loadmodel('../data/wiki.en.bin')` .
The error is
[code]

My PC has 32 GB memory, and the result of `free -mh` is below.
[code]

what should I do to use fasttext?
Thanks.

[2017-05-22 14:05] spate141 commented on #115
@ytac8 This error is mainly because the `wiki.en.bin` file is trained with newer version of fastText, and as of now you can't use current fastText.py python library to load/use newer models.

More info: #125

[2017-05-22 19:31] ytac8 commented on #115
@spate141
Oh, I see.
I could not find this issue. Thank you very much for your information 🥇

[2017-05-27 14:57] sagnikbanerjee15 opened #127 "Difficulty in compiling"
I am trying to compile by running the 'make' command. I keep running into the following error.

make
c++ -pthread -std=c++0x -O3 -funroll-loops -c src/args.cc
In file included from /opt/rit/app/gcc/6.2.0/include/c++/6.2.0/x86_64-pc-linux-gnu/bits/c++config.h:495:0,
                 from /opt/rit/app/gcc/6.2.0/include/c++/6.2.0/iosfwd:38,
                 from /opt/rit/app/gcc/6.2.0/include/c++/6.2

[2017-05-28 12:05] pyk commented on #127
Hi @sagnikbanerjee15,

have you install the `build-essential` ?

[2017-05-28 12:06] sagnikbanerjee15 commented on #127
Thank you I have figured out another way to fix the problem

[2017-05-28 12:09] pyk commented on #127
@sagnikbanerjee15 Nice!

Please share your solution here, might be useful for others. I will close this issue as fixed.

[2017-05-28 12:09] #127 closed

[2017-05-30 03:44] bhoomit commented on #96
Did you find any solution @bowlesbe ?

[2017-05-30 16:00] spate141 commented on #122
@pyk Any progress in new features update? Happy to help if needed anywhere! :)

[2017-05-31 11:38] namp commented on #122
Yes, I was wondering if there's any progress on this issue since it renders the API unusable with the latest fasttext models.

[2017-05-31 11:49] kskrishnasangeeth commented on #122
I was also having the same issue. Looks like fix is needed for https://github.com/salestock/fastText.py/blob/2e21e38ca1ebcbb658e884c68206ed6f2182a666/fasttext/interface.cc#L286

[2017-05-31 12:31] pyk commented on #122
Sorry guys for late reply.

@kskrishnasangeeth Yup! currently I'm working on the [`interface.cc`](https://github.com/salestock/fastText.py/blob/master/fasttext/interface.cc) to be able to work with the latest version of fastText. I will push the changes tonight :+1:

[2017-05-31 14:52] #114 closed

[2017-06-01 07:42] pyk commented on #122
Btw you can see the progress here #128

[2017-06-01 13:45] tiru1930 commented on #122
Is this issue got fixed?. if it is do i need to update my  fasttext pip ,to support??

[2017-06-01 17:53] gabrer commented on #96
I have got the same issue in CentOS 6.7.
I have tried with several versions of Cython (from 0.20 to 0.25.2), but nothing worked.

[2017-06-01 18:13] gabrer commented on #96
The issue is due to the gcc version.
By default, in my CentOS was 4.4.7; I've installed the 5.3.1 and everything works properly!

To install the new GCC I suggest:
https://stackoverflow.com/questions/36327805/how-to-install-gcc-5-3-with-yum-on-centos-7-2

[2017-06-02 09:05] tsterbak commented on #126
is have the very same problem loading the .bin model...

[2017-06-03 14:25] zachmayer commented on #115
Were could I get an old version of `wiki.en.bin`?

[2017-06-03 19:08] ytac8 commented on #115
@zachmayer
you can get here!
https://github.com/facebookresearch/fastText/blob/master/pretrained-vectors.md

[2017-06-05 18:35] srdadian commented on #116
Running with g++ on mac worked for me:
CC=g++ pip install fasttext

[2017-06-06 08:29] Chenweihua405 opened #129 "the data format for Chinese？"
model = fasttext.skipgram('data.txt', 'model')；

I want to do the text classification for chinese ,I wonder the data format of data.txt ?

[2017-06-06 14:10] spate141 commented on #129
`skipgram` is for word2vec model, `supervised` is for classification!
For classification, `__label__LABEL1 sentence` is the format

[2017-06-10 08:46] bittlingmayer opened #131 "Implement similarity"
Similarity is actually already implemented in python in [fastText/eval.py](https://github.com/facebookresearch/fastText/blob/master/eval.py).

Note it works with the pre-trained vectors trained with the latest version, and .bin files larger than the available RAM.

[2017-06-12 07:48] vyraun opened #132 "Nan Result with Classifier.test"
Hi

Running the example from here: https://github.com/miguelgfierro/sciblog_support/blob/master/Intro_to_NLP_with_fastText/Intro_to_NLP.ipynb

for the following code, I get the results:

result = classifier.test(test_file_clean)
print('P@1:', result.precision)
print('R@1:', result.recall)
print ('Number of examples:', result.nexamples)

P@1: nan
R@1: nan
Number of examples: 0

Any guess how to res

[2017-06-12 12:13] namp commented on #122
Any updates on this?

[2017-06-12 16:51] aylliote commented on #132
I reported the exact same issue in https://github.com/facebookresearch/fastText/issues/233
So if anyone has an answer i'm interested aswell

[2017-06-15 22:47] aclevine commented on #122
@namp
basic interface and model loading has been setup for the new version of fasttext at this point.  there's an issue with the qmatrix class facebook added that was causing a error in the wrapper when you deallocated a model from memory that was causing some road blocks.  Basics are still there if you want to go to the update branch and do a bit of coding, was able to pretty easily add back in p

[2017-06-16 14:06] spate141 commented on #122
@aclevine Can you specify what exact changes needs to make in terms of loading trained models with new fastText library? Is that only [this one..?](https://github.com/salestock/fastText.py/pull/128#issuecomment-308458212)

[2017-06-27 08:56] baibaiw5 opened #134 "install fasttext-to-f24a781 error,how to solve it?"
When i install fastText.py-feature-udpate-fasttext-to-f24a781 using command:
python setup.py install
I got the follwing error:
-----------------------------------------------------
Compiling fasttext/fasttext.pyx because it depends on /data/anaconda2/envs/machine_learning2/lib/python2.7/site-packages/Cython/Includes/libcpp/vector.pxd.
[1/1] Cythonizing fasttext/fasttext.pyx
running install
running

[2017-06-28 17:36] weizier commented on #86
@pyk Thanks for your answer, but then I get an empty result when I do 'models.words' command although I can see some words in the 'model.vec' file. Could you help, thanks!

[2017-06-28 17:38] weizier opened #135 "Get an empty 'set()' when I executed 'model.words' command?"
I just got an empty result when I did 'models.words' command although I could see some words in the 'model.vec' file. Could you help, thanks!

[2017-06-29 03:02] pliu19 commented on #135
Yes, I think I'm facing the same issues. What I can do now is to use gensim to load model.vec. However, in this case, we can't have the vector of unseen words.

[2017-06-29 08:17] Coolnesss opened #136 "words/sec/thread keeps decreasing"
Hey, I'm trying to train vector representations for words for a dataset of approx 200M words. My parameters are

    model = fasttext.skipgram("data.txt", vecs_path,
        dim=600, silent=False, lr=0.01, word_ngrams=2, loss="hs", epoch=3, thread=8)

On an 8-core machine with 16GB of RAM. What i'm experiencing is the `words/sec/thread` counter keeps decreasing rapidly and the ETA keeps increasing

[2017-06-29 10:14] namp commented on #122
I'm sorry but I don't see the file fasttext/cpp/src/qmatrix.cc mentioned in the [#128 ](https://github.com/salestock/fastText.py/pull/128)fix so that I can make[ the suggested change](https://github.com/salestock/fastText.py/pull/128#issuecomment-308458212)

[2017-06-29 11:15] shateng opened #137 "different results between python prediction and command line prediction"
same model trained by command line, but the prediction results are different between python predicton api and command line of c++ fasttext:

label_prob = classifier.predict_proba(['test'])
print label_prob

result: [[(u'__label__0', 0.527344)]]

result: __label__0 0.853516

any one kwnows why?

[2017-06-30 09:42] kn45 commented on #90
Same as above; my environment: macos 10.12.5, python 2.7.10, fasttext 0.8.3
set bucket_size from 0(default in py wrapper) to 2000000 could be ok as @cimarie

[2017-07-03 04:00] datalee commented on #135
are you  in the environment of Windows？i face the same issues

[2017-07-03 04:02] datalee commented on #132
i face the same issues

[2017-07-05 12:30] Omarito2412 commented on #134
It worked for me when I ran
`make all`

[2017-07-05 21:17] jcomfort4 commented on #135
+1 I am having the same issue on Windows 10.

[2017-07-11 11:37] blorgblerg commented on #115
There are some older pre-trained models here: https://github.com/Kyubyong/wordvectors

[2017-07-12 03:36] gaoisbest opened #138 "Use fasttext model for classification in pyspark map function"
First I trained fasttext model 'xxx.model.bin'.

Then, I want to use this model to classify my text in the pyspark environment.

Method [1]:
the below codes shows load model in pyspark `map` function `get_first_category`.

[code]

However, Method [1] is too slow. As far as I know, the basic unit of pyspark is `task`, and the `map` function is called for each task. So, I suspect `ft.load_model()` c

[2017-07-13 08:18] pedram-ghazi opened #139 "How can we get the vector of a paragraph?"
There is a command in the original fasttext library like this:
./fasttext print-vectors model.bin < text.txt
*This assumes that the `text.txt` file contains the paragraphs that you want to get vectors for.
*The program will output one vector representation per line in the file.
I want to know if we have similar functionality in the python interface of fasttext?

[2017-07-13 18:01] namp opened #140 "interface.cc compile error: class fasttext::Dictionary’ has no member named ‘getNgrams"
I'm trying to compile the latest commit a2cff91

I'm getting the following error either with "python setup.py install" or with "make all"

running install
running bdist_egg
running egg_info
writing requirements to fasttext.egg-info/requires.txt
writing fasttext.egg-info/PKG-INFO
writing top-level names to fasttext.egg-info/top_level.txt
writing dependency_links to fasttext.egg-info/dependency_link

[2017-07-13 22:50] naolenikhil commented on #26
I am still not able to use current version of [https://github.com/facebookresearch/fastText/](facebookresearch/fastText/) with current version of [https://github.com/salestock/fastText.py](salestock/fastText.py). Free memory -
                    total       used       free     shared    buffers     cached
Mem:           59G        29G        30G        16M       1.4G        23G
-/+ buffers/cache:

[2017-07-19 07:25] liuhe6 commented on #134
get the same error

[2017-07-19 12:30] arendu opened #141 "Getting ngram vectors"
Is there a way to save all the sub-word embeddings to disk? Or is there some way to access the matrix of sub-word embeddings?

Note: this is not same as the `print-ngrams` function in the original code. I am not looking for the sub-word units for 1 specific word, but all the sub-word units in the model.

[2017-07-20 03:39] bilalbayasut commented on #87
@pyk hi bayu, how about If I have installed the python-dev and restart my machine, the error above still occurred ?

[2017-07-22 11:16] bittlingmayer commented on #134
Same when installing with `pip install https://github.com/salestock/fastText.py/archive/feature/udpate-fasttext-to-f24a781.zip`.

`pip install -U Cython` did not help.

[2017-07-25 01:53] ailurus1991 commented on #126
same here

[2017-07-27 06:53] linjian93 commented on #135
+1 me too on windows 7. Don't know how to solver it~

[2017-08-02 05:59] markup1 commented on #88
Hi @s-j,
I have the same problem with it。Finally ,I soveled it。

1. My working environment is ubuntu 16.04LTS& Anaconda4.4.0.
2.  ubuntu 16.04  defaul translater is gcc-5.4 and g ++ - 5.4。so，when I use `pip install fasttext`, it has the problem like you. I think it is the translater version fault。then I find this issues. But not  working。
3. **So , I reinstall the lower translater gcc-4.7 and g ++

[2017-08-09 18:46] nov1160 commented on #88
@markup1, your solution works for me too.

[2017-08-13 09:44] dcsan opened #142 "using nearest neighbor?"
is there a wrapper for the nearest neighbor (`nn`) method?

[2017-08-13 09:45] dcsan commented on #129
as long as you segment your text before input it should work. I've done this and using the pretrained language set for chinese, the classification is very impressive.

[2017-08-15 16:24] shgidi commented on #115
What is the last version of fastText that is compatible with the python extension? where can I find a pretrained english model that fits the python extension?

[2017-08-16 23:37] dcsan opened #143 "memory allocation error"
I have a smallish corpus / model (a few hundred lines)
but trained with the existing wordvectors, the binary model file is about 400mb
on my 8gb macbook getting the following error on trying to load a model

is there some way to allocate more memory?
does this module live inside the memory the python process somehow pre-allocated?

Thanks!

[2017-08-17 00:08] dcsan commented on #115
same question here. it seems the version of fastText everyone will be using from the facebook repo isn't compatible with this extension... #143

[2017-08-17 02:10] wangyizhen commented on #125
## Firstly, just clone from the github.  and complie the fasttext (C++ version) from the cpp folders that have been cloned
git clone https://github.com/salestock/fastText.py.git
cd fastText
python setup.py install
### then, you will installed fasttext python package success.
### Finally , just to compile the fasttext c++ source code.
cd fasttext/cpp
make
you will compile success.

[2017-08-17 02:11] wangyizhen commented on #122
**Firstly,** just clone from the github. and complie the fasttext (C++ version) from the cpp folders that have been cloned

git clone https://github.com/salestock/fastText.py.git
cd fastText
python setup.py install

**then,** you will installed fasttext python package success.

**Finally** , just to compile the fasttext c++ source code.

cd fasttext/cpp
make
you will compile success.

[2017-08-17 03:16] wangyizhen commented on #126
Firstly, just clone from the github. and complie the fasttext (C++ version) from the cpp folders that have been cloned

git clone https://github.com/salestock/fastText.py.git
cd fastText
python setup.py install

then, you will installed fasttext python package success.

Finally , just to compile the fasttext c++ source code.

cd fasttext/cpp
make
you will compile success.

[2017-08-21 15:14] mausch commented on #139
The branch `udpate-fasttext-to-f24a781` has a fasttext binary that includes this feature ( https://github.com/salestock/fastText.py/blob/feature/udpate-fasttext-to-f24a781/fasttext/cpp/src/fasttext.h ).
I wonder what remains to be done on that branch to merge it to master?

[2017-08-21 15:36] mausch commented on #134
FWIW, I've tried running `docker run --rm -it -v $PWD:/work -w /work python:3.5 make` in that branch `udpate-fasttext-to-f24a781` to get the feature described in #139 and I got a few failed tests:

[code]

[2017-08-23 12:32] appleyuchi commented on #125
no use at all on the above comments

[2017-08-28 05:54] BigNewbiePlus commented on #88
@geovedi awesome advice

[2017-08-29 11:10] ilichev-andrey opened #145 "fastText.py update"
Hello.

I tried the **fastText** and **fastText.py** and got different results on the same data. I assume this is because of different versions, the variables were the same. The **fastText** is actively updated. Do you have plans to update the **fastText.py**?

[2017-09-01 01:19] adamleo opened #146 "The Model just can not be loaded. | "ValueError: fastText: trained model cannot be opened!""
The Model just can not be loaded.
I've tried every possible approach that I could came up with, nothing worked.
Some people discussed about it here: [#125](), but nothing helpful that I found.
Is this issue has been solved?

[code]

Is there any advice someone can give me on this? It would be very helpful and much appreciated.

Thanks a lot.

[2017-09-01 04:00] xxllp opened #147 "Empty vocabulary. Try a smaller -minCount value."

[2017-09-03 12:29] smartinsightsfromdata opened #148 "fastText: Cannot load ../fasttext/wiki.es/wiki.es.bin due to C++ extension failed to allocate the memory"
I'd like to re-open the issue as the problem appears still unsolved.

I've tried to run the code on an Azure VM with 16 vcpus, 112 GB memory.
I'm using anaconda python 3.6.

[code]

And I get the usual error:
[code]
Incidentally, I can load the model using gensim fasttext wrapper:
[code]

[2017-09-06 13:50] jerrygaoLondon opened #150 "fastText(0.8.3): failed to load model file(i.e., bin file) correctly on Windows OS"
I have problems to load/compute vector from pre-trained model file(i.e., bin file) correctly on Windows OS. with ```model['king']``` for example, it always return zero vectors and the vocabulary set (```model.words) is always empty.

Using same model file and code, it works well in Linux.

PS: i have no problem to install and train a embedding (e.g., skipgram model) on Windows OS. ```bin``` and ``

[2017-09-06 21:38] jerrygaoLondon commented on #150
It might be helpful for someone else :

I finally make it work with xiamx's binary builds for 64 bit Windows and gensim fasttext wrapper (https://github.com/xiamx/fastText/releases).

Training:

[code]

Load from pre-trained model:

[code]

Cheers,
Jerry

[2017-09-13 12:21] Emixam23 commented on #125
Hi,

Any update on it?

[2017-09-18 08:51] chuangys commented on #112
faced the same issues.

[2017-09-18 10:09] Emixam23 opened #151 "ValueError: output of generator should be a tuple. Found: None"
I have this error

`ValueError: output of generator should be a tuple `(x, y, sample_weight)` or `(x, y)`. Found: None`

I'm using `wiki.fr.bin` (the old one that work with this version). However, it throws me this :

    50/50 [==============================] - 3s - loss: 0.0022
    Epoch 638/1000
    21/50 [===========>..................] - ETA: 1s - loss: 0.0012
    23/50 [============>........

[2017-09-24 23:29] Zugunruhekami commented on #112
the same issue here. #124 seems not working.

[2017-09-25 06:36] kinglcc opened #152 "Error whenword_ngrams=5"

[2017-09-25 15:07] chuangys commented on #132
Same issue

[2017-09-28 09:05] kelly-tlz commented on #115
I have the same question,  whatever model I load. @spate141 @blorgblerg

[2017-09-28 16:17] dcsan commented on #115
the answer is not to use this python library, as it seems won't be updated to newer version of fastText.

[2017-09-29 01:31] kelly-tlz commented on #115
can you share your code with me? thanks a lot

[2017-09-29 01:32] kelly-tlz commented on #115
can you share your code with me? thanks a lot @dcsan

[2017-09-29 14:21] montenegrodr commented on #115
@kelly-tlz you've to use the interactive option of fasttext. You should wrap and use stdin and stdout, something like this:

[code]

[2017-09-29 17:20] dcsan commented on #115
yep the last part `-` is key to tell fasttext to accept stdin input

`cmds = ['path/to/fasttext', 'predict', 'path/to/model', '-']`

also when you're sending text in don't forget to add a newline \n on your final input, or it will hang waiting for input.
I ended up switching to using nodeJS so if this helps, some thing like:

[code]

[2017-09-30 05:59] adamleo commented on #148
Can anybody share some advice on this one?

I've experienced the same issue and surprising it has not been answered after 27 days.

The other related answers didn't really help.

[2017-10-04 09:12] tiru1930 commented on #135
+1 i am using RHEL 6 , after training the fasttext.supervised and trying to print clf.lables i got empty list

[2017-10-04 10:05] tiru1930 commented on #135
sorry ,problem is with input csv file, i was able get clf.lables  after training

[2017-10-05 23:40] vgoklani commented on #148
In [1]: import fasttext

	In [2]: model_name = "lid.176.ftz"

	In [3]: model = fasttext.load_model(model_name)
	---------------------------------------------------------------------------
	RuntimeError                              Traceback (most recent call last)
	fasttext/fasttext.pyx in fasttext.fasttext.load_model (fasttext/fasttext.cpp:4236)()

	RuntimeError: vector

	During handling of the a

[2017-10-10 20:54] XinCindyChen commented on #115
I tried to use the subprocess solution, but I kept getting `[Errno 32] Broken pipe` or empty results. Anyone have a solution? I'm trying to get the vector for words and sentences from the pre-trained model based on Wikipedia text.

Below is my code, I'm hoping to get the vector for "apple", but it returned broken pipe.
On the other hand, `echo 'apple' | ./fasttext print-word-vectors wiki.simple.bi

[2017-10-11 09:10] montenegrodr commented on #115
@XinCindyChen it seems there's no interactive option for `print-word-vectors`:

[code]

[2017-10-11 15:29] dcsan commented on #115
I think i saw somewhere that method doesn't have an interactive mode ( `-`param ). did you try it with the same args just from the command line? otherwise you'd have to dump stuff to a file and read it in one chunk. however not sure what you would do if you had another list later...

for other points, make sure to put a newline after each (and the last) data you stream in. i forgot that at first..

[2017-10-11 17:00] XinCindyChen commented on #115
@montenegrodr @dcsan you are right, I removed the last '-' from the list of cmds, it worked with the following code. The result contains the vector for "apple".  But I still don't quite understand the difference between having an interactive mode or not, since both did take an input and give an output. Could you elaborate?

[code]

[2017-10-12 07:19] dcsan commented on #115
interactive mode is when you run it from the command line, and you can keep feeding new words in, like an interactive REPL.
this is useful when you just want to load up fasttext once from your own app and then keep piping more data in.

the *non*interactive way means you need to reload the app every time you want to call it. which also means loading into memory all those big model files...

[2017-10-12 17:59] XinCindyChen commented on #115
@dcsan this makes sense, thank you very much. No wonder it was taking me forever to print vectors for multiple words/sentences using the subprocess.

[2017-10-13 18:46] TamouzeAssi opened #153 "sub-gram embedding load"
Hello,
please how can we get the embedding of the sub-grams?

Thank you

[2017-10-16 04:35] myoldusername opened #154 "How to update to last Facebook fastText ?"
Since this fastText.py is 5 month old for last update , how can we manually update  fastText ?

[2017-10-17 08:48] pavinjosdev commented on #152
Can confirm. Any value above 1 is producing same result.

[2017-10-19 06:35] YunLiaw opened #155 "IndexError when passing empty string to predict() and predict_proba()"
When passing empty string into predict function, [this line](https://github.com/salestock/fastText.py/blob/master/fasttext/model.py#L65) and [this line](https://github.com/salestock/fastText.py/blob/master/fasttext/model.py#L75) will cause the IndexError.

If possible I think it could be changed to `if text == "" or text[-1] != '\n':`

[2017-10-19 06:59] YunLiaw commented on #155
I also found this [pull request](https://github.com/salestock/fastText.py/pull/117) that also want to tackle the same problem. Rather than just remove the empty strings, I think keeping it would reduce the problem that the item and the predicted result cannot be aligned.

[2017-10-19 08:06] YunLiaw commented on #155
I made a PR #156  for this issue.

[2017-10-19 08:13] sinsa110 opened #157 "why the model's precision and recall are always same?"
I train model 3 times with different corpus, but  the model's precision and recall are always same. like follows:
![wx20171019-161223](https://user-images.githubusercontent.com/13688310/31760779-6b401c06-b47b-11e7-8c59-a5f56f21db8c.png)

[2017-10-19 14:47] spate141 commented on #157
Please check: https://github.com/facebookresearch/fastText/issues/261

[2017-10-21 14:18] Ayman3mohamed commented on #148
same here
 python
Python 2.7.9 (default, Jun 29 2016, 13:08:31)
[GCC 4.9.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "fasttext/fasttext.pyx", line 154, in fasttext.fasttext.load_model
Exception: fastText: Cannot load wiki.en.bin due to C++ extension failed to allocate the memory

[2017-10-23 03:13] sinsa110 commented on #157
thank you @spate141

[2017-10-24 07:58] suparek opened #158 "how can i install fastText in python3 ？"
when i install fasttext in python3，i will see these error (i use conda):

`Collecting fasttext
  Using cached fasttext-0.8.3.tar.gz
Collecting numpy>=1 (from fasttext)
  Downloading numpy-1.13.3-cp34-cp34m-manylinux1_x86_64.whl (16.9MB)
    100% |████████████████████████████████| 16.9MB 73kB/s
Collecting future (from fasttext)
  Using cached future-0.16.0.tar.gz
Building wheels for collected packa

[2017-10-25 13:56] gembin commented on #129
@dcsan which library you used for Chinese  segmentation?

[2017-10-25 16:49] dcsan commented on #129
@gembin node-jieba

[2017-10-26 07:12] MartinXPN commented on #115
There is also a gensim wrapper for fastText. Take a look at the [documentation](https://radimrehurek.com/gensim/models/wrappers/fasttext.html) here.

If you don't want to use gensim you still can create a wrapper class like this

[code]

And then use the model like

[code]

[2017-10-26 07:42] dcsan commented on #115
i understood the gensim wrapper was based on an old (incompatible) version of FT and wasn't going to be updated as the company working on it no longer uses FT or gensim. might not be too difficult to update it tho but requires knowhow of the C bindings.

[2017-10-26 07:45] MartinXPN commented on #115
I tried loading the latest wiki.en.bin and it worked with gensim

[2017-10-26 14:12] willbowditch commented on #90
After experimenting with arguments I've found that specifying number of `bucket` explicitly, default is 2000000, prevents the error.

[code]

[2017-10-27 06:40] suparek commented on #158
anybody can answer me ?

[2017-10-31 06:24] pyk opened #159 "This project is not on active development anymore"
Sorry guys. The project is not on active development anymore.

I suggest you to use another python package. Thanks!

You can follow the discussion in here:
https://web.facebook.com/groups/1174547215919768/permalink/1734663919908092/

[2017-11-01 07:36] vrasneur commented on #159
Shameless plug, you can use the fastText python binding I have created: https://github.com/vrasneur/pyfasttext

Vincent

[2017-11-02 11:03] doannam020293 commented on #148
same issue. Someone please give me solution!

[2017-11-06 11:10] mostafaalishahi commented on #91
My OS is Windows 8.1 64bit, Python 3.6.3, I have downloaded "Visual C++ 2015 Build Tools" using following link and I have installed it, after that fasttext installation worked properly.
Good luck
http://go.microsoft.com/fwlink/?LinkId=691126&__hstc=268264337.8504ec8bdb50032c9b5af147b6b0ef56.1509965482729.1509965482729.1509965482729.1&__hssc=268264337.4.1509965482730&__hsfp=2646871122&fixForIE=.exe

[2017-11-07 00:23] datalee commented on #91
@mostafaalishahi thanks.

[2017-11-07 12:56] HoiweCheng commented on #115
i got the same problem while loading the self-trainged model

[2017-11-07 12:58] montenegrodr commented on #115
FYI: https://github.com/facebookresearch/fastText/tree/master/python

[2017-11-14 21:20] saroufimc1 commented on #91
@mostafaalishahi : The build tools did not work for me... Still getting the same error as above:

error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\BIN\\x86_amd64\\cl.exe' failed with exit status 2

[2017-11-21 11:21] Lotass commented on #146
I have the same issue, no solution found yet ?!!!

[2017-11-23 04:24] wejradford commented on #158
@suparek perhaps you might try installing `build-essentials`.

[2017-11-24 07:48] yogendratamang48 commented on #91
Can you try this wheel file. https://drive.google.com/open?id=1ZOOJ8jRRZDh8IPjUIp00jF-L8s6wlp3F

[2017-11-24 12:16] mostafaalishahi commented on #91
@saroufimc1 can you give me more detail about python version

[2017-12-04 07:35] Lapis-Hong opened #160 "Why is no min_count_label parameters? i want to reduce the label numbers"

[2017-12-11 07:56] aditiprakash commented on #158
@wejradford TRied that but got this error "Could not find a version that satisfies the requirement build-essentials (from versions: ) No matching distribution found for build-essentials"
@suparek  were you able to sort the error?
Got the same problem

[2017-12-11 09:45] aditiprakash opened #161 "Pip install fasttext with Python 3.6.1 on Ubuntu 16.04 (32-bit)"
None of the solutions listed so far on any of the threads seem to work. Kindly assist.
On running pip install fasttext, I get the following error:

Using cached fasttext-0.8.3.tar.gz
Requirement already satisfied: numpy>=1 in /home/et/anaconda3/lib/python3.6/site-packages (from fasttext)
Requirement already satisfied: future in /home/et/anaconda3/lib/python3.6/site-packages (from fasttext)
Buildin

[2017-12-11 09:49] aditiprakash commented on #161
I have already tried the solutions listed in the following issues:
#158
#88
#123

[2017-12-14 01:52] wejradford commented on #158
Oops, try `build-essential`! https://packages.ubuntu.com/xenial/build-essential

[2018-01-02 16:05] lxw0109 commented on #146
I came across the same issue, anybody help? Thank you

[2018-01-10 07:25] qitong commented on #129
@dcsan how big is your training set and how many categories to classify?
This is my sample line (I use jieba to seg): "念得 我 各种 烦躁 … … __label__2" is that correct?
Do you know if there is a way to integrate pre-trained fasttext word embedding for the classification task?
Thank you.

[2018-01-10 12:28] dcsan commented on #129
@qitong i think label has to be at the start of the line.

yes, I'm using their pretrained vectors. you just have to specify `-dim 300` on the various commands as that is how many dimensions the pretrained vectors are at - which is not the default I don't think.

[2018-01-12 09:44] EdwardChan5000 commented on #140
Did u fix it?

[2018-01-12 10:25] EdwardChan5000 opened #162 "undefined symbol: _ZNK8fasttext10Dictionary9getNgramsERKSs"
1. loadModelWrapper()
2. classifierPredict()
3. .so

Got:
using undefined symbol: _ZNK8fasttext10Dictionary9getNgramsERKSs

[2018-01-23 08:28] fortyMiles commented on #90
@willbowditch you're right! Thanks!

[2018-01-26 17:09] bung87 commented on #148
related issue which closed
 https://github.com/salestock/fastText.py/issues/115

  now you can't use current fastText.py python library to load/use newer models.

pyfasttext also has the same issue,

use the facebook official version is the right choise!

[2018-01-29 04:44] xjtushilei commented on #91
@yogendratamang48   do you have python3.6 windos64bit  whl for fasttext? i can not install it.

[2018-02-15 22:22] pradipto commented on #152
I was facing the same problem. As mentioned in issue #90 , this does not seem to happen when a non-zero and positive bucket size is provided as a parameter.

[2018-02-16 12:28] prabhakar267 opened #163 "Top k similar words for a given word"
If I have a word, how do i get top k words closest to that given word. As far as i understand, there is a way to get it from cpp code but I can't find anything in the python library.
Something similar to what [gensim](https://github.com/RaRe-Technologies/gensim) word2vec implementation has:
[code]

[2018-02-23 21:05] nagypeterjob commented on #126
The same happened to me. The solution is pretty clear as it stated in the error message too. Your machine simply hasn't got enough memory to load the model. My 16gig MBPro struggled with ` .vec ` but finally read it using massive amout of swap.

[2018-04-24 07:42] ShenMinXu commented on #132
Same issue  in win7 python3.6

[2018-04-24 07:51] anharismail opened #164 "Logo Design Offer as Open Source Contribution"
Hello Sir. I'm a UI/UX and Graphics Designer. I want provide a logo for you. Would you mind if I propose a new logo design for your application as my Open Source Contribution?

Thanks before.

[2018-05-18 16:00] ebuildy commented on #26
@nugrahatheo did you try to use the ``bucket`` option?

[2018-05-21 10:33] sayak1711 commented on #91
To install in windows follow these steps:
1. Go to this [link](https://www.lfd.uci.edu/~gohlke/pythonlibs/#fasttext)
2. Download the required wheel according to your python version and windows 32 bit or 64 bit.
3. Go to the directory where it has downloaded and in cmd pip install fiename.

[2018-06-06 06:46] anujgupta82 commented on #91
@sayak1711 : these are all for python 3.5. anything for python 2.7 ?

[2018-07-05 03:50] Ahmedd7 commented on #91
Hello, I'm trying to install fasttext using pip after installing C++ but failed to install because of following error. So can any one suggest me what should I do? Also I've downloaded wheel for fasstext from https://www.lfd.uci.edu/~gohlke/pythonlibs/  in the same path where anaconda is installed.

es (x86)\Windows Kits\NETFXSDK\4.6.1\include\um" /EHsc /Tpfasttext/fasttext.cpp /Fobuild\temp.win-am

[2018-07-06 00:35] vewei opened #167 "Install fasttext on Windows 10 with anaconda"
I am trying to install fasttext in anaconda with Windows 10 using the command:

pip install fasttext

The error messages are:

ValueError: Unknown MS Compiler version 1900

and

Command "c:\users\nicol\anaconda3\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\nicol\\AppData\\Local\\Temp\\pip-install-pd0xqmlg\\fasttext\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f

[2018-07-11 18:01] cmoscardi commented on #167
Funny, it's probably because you don't have Microsoft Visual C++ Build Tools (or something like this) installed, to allow for compilation. I just ran into this issue myself, forked the repo, and built a wheel which I pushed up to pip.

If you want to use it as well -- specifically for python 3.6 with 64-bit AMD architecture, you can use:
[code]

[2018-07-19 13:34] tastyminerals commented on #148
@bung87 no, official version is only good for training and then printing the trained vectors to stdout. Binaries created by official version are unloadable as well :(

[2018-07-22 13:49] jfatine commented on #91
Hi,
I successfully installed FastText by following the instructions of sayak1711 and yogendratamang48. However the wheel has not been built (I didn't get the message like in yogendratamang48's image)!
After installation, while i run "fasttext supervised -input train.txt -output model", i get the following message: "fasttext n'est pas reconnu en tant que commande interne..." (fasttext is not recogn

[2018-07-23 07:54] harrypotter0 commented on #148
@doannam020293  thanks for the advice, pyfasttext worked for me like a charm. Here is the script I used :

[code]

[2018-07-26 11:09] lvjiujin commented on #91
good, I also met the same problem, I used your method, I solved it. thank you!

[2018-07-27 05:49] sayak1711 commented on #115
@montenegrodr @dcsan I am trying to run fastText on Windows. However I couldn't install it using python setup.py install. So I had to install it from the [unofficial python wheel](https://www.lfd.uci.edu/~gohlke/pythonlibs/#fasttext). However when I try to load my model(created on a red hat system) it says memory allocation error(on windows). However when I use bash on windows to predict labels us

[2018-08-04 05:51] ragvri commented on #91
@sayak1711 Does not work. The wheel file is outdated, I guess. The fasttext does get installed but is unable to load a model.

[2018-08-04 05:54] ragvri commented on #91
@saroufimc1 Were you able to resolve this issue. I am getting the same error.

[2018-08-04 07:04] sayak1711 commented on #91
For windows guys this is the solution
https://www.cs.mcgill.ca/~mxia3/FastText-for-Windows/

On Sat 4 Aug, 2018, 11:24 AM Raghav, <notifications@github.com> wrote:

[2018-08-04 11:05] ragvri commented on #91
@sayak1711 The blog is not clear as to what to do after downloading. Could you please explain in a little more detail.

[2018-08-04 12:47] sayak1711 commented on #91
Raghav you have to download and install Visual C++ Redistrubtable 2017
<https://support.microsoft.com/en-ca/help/2977003/the-latest-supported-visual-c-downloads>
from the link they have given. After that download the latest release from
the link <https://github.com/xiamx/fastText/releases>. Download fasttext
win64 latest release
<https://github.com/xiamx/fastText/releases/download/fastText-latest-

[2018-08-05 13:16] 01joy commented on #88
You should **exit** your conda env to run @geovedi 's code!

[2018-08-09 04:36] ragvri commented on #91
Hi, The new wheels for windows were updated on August 4, 2018 at [ lfd.uci.edu/~gohlke/pythonlibs/#fasttext]( lfd.uci.edu/~gohlke/pythonlibs/#fasttext). Please find the correct wheel depending upon your python and windows version and use it.

1) Download the correct wheel.
2) pip install `.whl` file.
3) Profit ??

[2018-08-09 09:39] boysmax commented on #132
same issue ,win7  python3.7

[2018-08-13 05:10] miguelsff commented on #91
This worked for me

https://github.com/facebookresearch/fastText/issues/411

[2018-09-06 04:28] imLogM opened #169 "when "import fasttext", encounter "undefined symbol: _ZSt24__throw_out_of_range_fmtPKcz""
Record an issue I encountered, maybe useful to others.
**Environment:**
* system: Linux
* gcc (GCC) 4.9.2
* python: Python 2.7.13 |Anaconda 4.4.0 (64-bit)| (default, Dec 20 2016, 23:09:15) [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2

**Problem:**
when "import fasttext", encounter error: "undefined symbol: _ZSt24__throw_out_of_range_fmtPKcz"

**How to solve:**
I update the version of "libgcc"

[2018-09-20 09:03] enzolupia commented on #135
Same problem, the model return an empty set and I can't do anything with it.
Did anyone solve the problem?

[2018-10-10 17:55] davidlenz commented on #135
I am also facing this issue.

[2018-11-01 10:21] liliangjie91 commented on #88
also works for Anaconda2 users

[2018-11-07 02:51] mzeidhassan commented on #91
On Windows 10 machine with Python 3.6, this worked for me.

[code]

[2018-11-26 16:13] Surtr86 commented on #86
I am having the same problem.
ValueError: fastText: cannot load data.txt.

Can someone explain to me how to make it work?

Iam using python 3.6 with anaconda on Windows 7.
Installed fasttext 0.8.3

[2018-12-21 12:41] grasshopper14 commented on #115
subprocess doesn't display an output in the virtual environment. Is there a way to do this in virtual env?

[2019-01-15 18:48] CaoCharles commented on #146
I came across the same issue too. :(

[2019-01-18 09:08] TokiOji commented on #146
I come across the same problem, but nobody can help me. :(

[2019-01-30 00:57] cparmet commented on #167
@cmoscardi You're awesome, thank you!

[2019-02-03 04:57] congchan opened #170 "different label prefix for different category"
Hi,  I would like to use single one data file for different label categories prediction tasks.

Say I make my data into this format :
__labelA__xxx __labelB__yyy sentence

If I wanna predict labelA task, simply pass train_supervised (Label ="LabelA"), will fasttext treat labelB as part of the sentence?

[2019-02-13 04:29] Yzliu1314 opened #171 "How to install this fasttext.py in window python 2.7"
Need i down load your files to local folder and cd to this folder and use "pip install fasttext " to install ?
need place your files into special local folder ???

[2019-02-13 06:07] TamouzeAssi opened #172 "how to load a pretrained in spark application"
I want to load a fasttext pretrained embedding in a spark application. There a way please to do that?

[2019-02-19 15:51] shovalsa commented on #113
@pyk but don't you need to dump a model in order to load it later? What if I want to train a classifier and use it a while later?

[2019-02-28 08:28] blazejdolicki commented on #167
@cmoscardi thanks a lot!

[2019-03-06 08:24] lingdavid opened #173 "terminate called after thorwing an instance of std:logic_error"
when I run fasttext.supervised(), it report an error：
`terminate called after throwing an instance of 'std::logic_error'`
`what():  basic_string::_S_construct null not valid`

[2019-03-06 09:16] #173 closed

[2019-03-07 03:03] Alxe1 opened #174 "precision of fasttext result is nan"
I use the [data](https://s3-us-west-1.amazonaws.com/fasttext-vectors/cooking.stackexchange.tar.gz) to classify, I didn't split the data, the following is my code:
[code]
the result is: nan, nan

why it shows this, is there any wrong?

[2019-03-18 09:24] yangtianyu92 commented on #132
same issue win10 python3.6

[2019-03-18 09:26] ShenMinXu commented on #132
problem solved ，fasttext may not  support win ，linux is ok

[2019-03-18 21:12] #132 closed

[2019-04-16 07:36] hurricanedjp opened #175 "the pypi fasttext’s classification result has huge difference with Facebook repo，the latter is satisfying"

[2019-04-21 10:10] guha93 commented on #167
How to solve this error for windows 'Failed building wheel for fasttext'

[2019-04-23 02:13] zhfneu opened #176 "Dose the new release support incremental training?"

[2019-05-21 09:08] yinmazhong commented on #101
[code]
on aws ec2 (aws linux),it works

[优秀](https://www.unixmen.com/fix-gcc-error-trying-exec-cc1plus-execvp-file-directory-fedora/)

[2019-06-05 06:55] dingdingdingyinyinyin commented on #167
thank you!

[2019-06-20 15:57] hsnzfr commented on #91
I was trying to install fasttext on win 10. The error persisted for two days. Finally I downgraded python for 3.7 to 3.6 and finally is was installed successfully

[2019-06-25 17:36] NaderNazemi commented on #91
Not working

[2019-06-26 01:04] Ahmedd7 commented on #91
Already good suggestions to resolve the issue but again.
1. Make sure that you've installed python 3.6
2. Install Visual Studio with C++
3. Latest .whl package
4. cython
You may use pip to install all the packages.
If you still fail to install then I suggest to use gensim word2vec library  "https://radimrehurek.com/gensim/install.html" , the documentation for the ease of use "https://radimrehurek.

[2019-06-26 03:29] anujgupta82 commented on #91
https://fasttext.cc/blog/2019/06/25/blog-post.html

On Wed, Jun 26, 2019 at 6:34 AM Ali Wazir <notifications@github.com> wrote:

[2019-06-30 20:28] HomoSapienLCY opened #177 "TypeError: can't pickle fasttext_pybind.fasttext objects while trying to embed multiple words with multiprocessors"
Hi,
First, thx for making fasttext available for the general public, it really makes my work much easier.

Recently I ran into a problem when trying to embed multiple words using multiprocessors, my code is:

[code]

In which, the core_pool_4 uses the multiprocessing.Pool to start 4 embedding processes at the same time, self.embedSentence call embedWord (there are multiple layers of function calls

[2019-07-26 07:34] pravinsharma9610 commented on #167
@cmoscardi  God Bless you man. Thank you so much.

[2019-08-07 11:54] pakos47 opened #178 "Can't install on Ubuntu Sub Ubuntu 18.04.2 LTS"
Trying to install Fasttab is always resulting in this error....

Processing /home/noman/fastText
Requirement already satisfied: pybind11>=2.2 in /home/noman/anaconda3/lib/python3.6/site-packages (from fasttext==0.9.1) (2.3.0)
Requirement already satisfied: setuptools>=0.7.0 in /home/noman/anaconda3/lib/python3.6/site-packages (from fasttext==0.9.1) (41.0.1)
Requirement already satisfied: numpy in

[2019-08-07 11:58] pakos47 commented on #178
had to install `build-essential` first..
SOLVED

[2019-08-07 11:59] pakos47 commented on #178
had to install `build-essential` first..
SOLVED

[2019-08-07 11:59] #178 closed

[2019-09-27 07:00] 27arjunbali commented on #167
@cmoscardi Thank you so much.

[2019-11-02 09:07] #170 closed

[2019-11-15 02:58] ThomIves commented on #91
After trying MANY things suggested by others, sayak1711's directions, who commented above on May 21, 2018, worked for me. It was surprisingly easy too.

[2019-11-15 09:30] cscontrolcom commented on #167
@cmoscardi Thank you very much

[2019-12-01 20:41] SihamAmarouche commented on #146
I came across the same issue too anybody can help with the solution ?

[2019-12-08 09:53] MohammadHeydari commented on #167
I tried the command but still, the error remains.
here:
![Untitled](https://user-images.githubusercontent.com/7662185/70387727-e5045080-19bd-11ea-8123-5fd4754f2d37.png)

[2019-12-16 12:59] Shintaro0920 commented on #116
C=clang CXX=clang++ pip install fasttext
it works for me.

[2020-04-01 15:38] dian-ai commented on #167
I am running to same problem how to solve it?

[2020-04-04 05:08] 46319943 commented on #91
It works!!!

[2020-04-04 14:34] kandalavaishnavi commented on #172
Is there a way to do this?  I am looking for one.

[2020-04-10 07:55] Bachstelze commented on #146
The pip version of fastText is obsolet. Install it from source and use the official release.

[2020-05-04 08:35] ferri1374 opened #179 "Fasstext model300 on windows10"
Hi
I'm trying to load fasttext_model300 using below code:
fassttext_model300 = api.load('fasttext-wiki-news-subwords-300')
but pycharm stops working.
I'm using windows 10 and gensim v 3.8.3
is this possible to use fasttext_model300 on windows?

[2020-05-14 07:38] yuyaxiong opened #180 "load pretrained_vectors to train model,but no model.vec to be saved"
Hi
 I use pretrained_vectors to load my pre-train vector and fasttext.supervised(params) to training my model,, I found out that when then training is done, there is only model.bin be saved,no model.vec , is this expected？if  it is, when I load my pre-train vector to train my model, the pre-train vector is freezed? or it is being fine-tuning? TKS

[2020-06-15 12:44] ngukha189 opened #181 "Cannot install fasttext to python 2.7.18"
Hi all,

First of all, I must use python 2.7 for my work project. But I am able to install fasttext to this python version. I believe I have all the prerequisites installed; however, when I run pip install fasttext, I received this error:

FYI - I have python 3.7 on this computer, and was able to install fasttext just fine. But, when I tried to install fasttext on python 2.7 on another computer, I

[2020-06-19 07:14] ninghongbo123 opened #182 "set threads num in python interface"
I  look to some solution how to set  thread/process num in python interface of fasttext?
anyone  knows ?

[2020-08-03 09:44] ExceptionK commented on #98
When I use this code:
def __init__(self, model_file='model/lid.176.ftz', language_code_file='language_code.json'):
        self.model = ft.load_model(model_file)
I will be informed:
self.model = ft.load_model(model_file)
AttributeError: module 'fastText' has no attribute 'load_model'
Why might this happen?

[2020-08-08 21:07] multinucliated commented on #177
@HomoSapienLCY , I'm also getting the same error. You got any lead or solution?

[2020-08-24 21:33] JiazhaoLi commented on #116
remove the ‘-stdlib=libc++’ option in setup.py for the command line arguments under "darwin" and change '-std=c++0x' to '-std=c++11x'. It should compile.

This answer works for me on MacOS. Thank you!

[2020-10-24 07:22] #179 closed